<template>
  <div>
           <v-img
           class=""
            max-width="100%"
            style="position: relative; z-index: 2"
            src="@/assets/img/bg_picture/bg_createby_nexpie__.jpg"
          ></v-img>
    <v-row
      class="px-16 mt-12"
      align="center"
      justify="center"
      style="margin-left: 10%; margin-right: 10%"
    >
      <v-col cols="6" align="center">
        <v-img
          max-height="90%"
          max-width="70%"
          style=""
          src="@/assets/img/Picture_board/Product_Picture.png"
        ></v-img>
      </v-col>
      <v-col cols="5" class="" align="left">
        <v-row class="pa-0" align="center" justify="center">
          <v-col class="pa-0">
            <v-card-title class="font-weight-bold" style="font-size: x-large"
              >NEXPIE NX2004 Microcontroller Borad
            </v-card-title>
          </v-col>
        </v-row>
        <v-row class="pa-0" align="center" justify="center">
          <v-col class="pa-0">
            <v-card-text class=""
              >NEXPIE Microcontroller Board with Grove Connector and Bulid-in
              Sensor.</v-card-text
            >
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row class="pa-0" align="center" justify="center">
          <v-col cols="4" align="left">
            <v-btn
              class="white--text font-weight-bold"
              depressed
              color="black"
              style="padding: 15px 35px"
            >
              <span>$16.50</span>
            </v-btn>
          </v-col>
          <v-col cols="8" align="right" class="">
            <v-btn
              class="black--text font-weight-bold mr-1"
              depressed
              @click="decrease_value()"
              style="padding: 15px 15px"
              color="grey"
            >
              <v-icon small> mdi-minus </v-icon>
            </v-btn>
            <v-btn
              class="black--text font-weight-bold mr-1"
              depressed
              style="padding: 15px 35px"
              color="grey lighten-1"
            >
             {{this.value_Increase_decrease}}
            </v-btn>
            <v-btn
              class="black--text font-weight-bold"
              @click="Increase_value()"
              depressed
              style="padding: 15px 15px"
              color="grey"
            >
              <v-icon> mdi-plus </v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-row class="pa-0" align="center" justify="center">
          <v-col cols="7" align="left">
            <v-btn
              class="white--text font-weight-bold float-left"
              depressed
              style="width:100px" 
              @click="add_to_cart()"
              block
              color="blue"
            >
              <v-icon>mdi-cart</v-icon><span>Add to Cart</span>
            </v-btn>
          </v-col>
          <v-col cols="5" align="right">
            <v-btn
              depressed
              color="orange"
              class="float-right"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon small color="white">mdi-star</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="1"> </v-col>
    </v-row>
    <v-row
      class="px-16 mt-7"
      align="center"
      justify="center"
      style="margin-left: 8%; margin-right: 8%"
    >
      <v-col>
        <v-card class="mb-5">
          <v-row class="" align="center" justify="center">
            <v-col class="">
              <v-img
                class="ml-5 mr-5"
                src="@/assets/img/bg_shop/Prodouct_Detail.png"
                style=""
                ><v-card-text
                  class="white--text font-weight-bold"
                  style="font-size: x-large"
                  >Product Details</v-card-text
                >
              </v-img>
              <v-card-title
                class="ml-5 mr-5 red--text font-weight-bold"
                style="font-size: x-large"
                >Features</v-card-title
              >
              <v-card-text class="ml-5 mr-5 pb-0"
                >- Build in Grove Conector</v-card-text
              >
              <v-card-text class="ml-5 mr-5 pb-0"
                >- 3 Build in Sensors</v-card-text
              >
              <v-card-text class="ml-5 mr-5 pb-0"
                >- External I/O and I2C Pins</v-card-text
              >
              <v-divider class="mt-5 ml-8 mr-8" inset></v-divider>
              <v-card-title
                class="ml-5 mr-5 red--text font-weight-bold"
                style="font-size: x-large"
                >Description</v-card-title
              >
              <v-card-text class="ml-5 mr-10 pb-0" style="padding-right: 100px"
                >Ante pretium id quam proin odio. Eget massa mattis luctus
                malesuada nec tincidunt id. Sit pharetra velit suspendisse ut
                vitae id in. Eget integer ullamcorper at in. Adipiscing sagittis
                convallis non orci. Blandit sem in porttitor faucibus ac neque.
                Nunc sed pellentesque id faucibus pretium volutpat sit molestie.
                Tristique imperdiet ornare vivamus mauris. Pellentesque sed amet
                pulvinar faucibus. Vivamus proin habitant non at pharetra urna
                est et. Pellentesque sit scelerisque tellus tortor viverra.
                Cursus egestas proin aliquam sit auctor arcu vitae a. Etiam nisl
                sed eget fringilla congue. Posuere laoreet nibh gravida cras
                dignissim lectus mi.</v-card-text
              >
              <v-divider class="mt-5 ml-8 mr-8" inset></v-divider>

              <v-card-title
                class="ml-5 mr-5 red--text font-weight-bold"
                style="font-size: x-large"
                >Specifitation</v-card-title
              >

              <template>
                <a-table
                  class="ml-10 mr-5 black--text font-weight-medium"
                  y="max"
                  style="width: 70%; background-color: #fafafa"
                  :pagination="false"
                  :columns="columns"
                  :data-source="data"
                  bordered
                >
                  <template>
                    <a class="black--text font-weight-bold">{{ text }}</a>
                  </template>
                </a-table>
              </template>

              <v-divider class="mt-5 ml-8 mr-8" inset></v-divider>

              <v-card-title
                class="ml-5 mr-5 red--text font-weight-bold"
                style="font-size: x-large"
                >Components</v-card-title
              >
              <v-col
                cols="12"
                justify="center"
                align="center"
                v-for="items in picture_component"
                :key="items"
              >
                <v-img
                  max-height="50%"
                  max-width="60%"
                  style=""
                  :src="items.src"
                ></v-img>
              </v-col>
              <v-divider class="mt-5 ml-8 mr-8" inset></v-divider>
              <v-card-title
                class="ml-5 mr-5 red--text font-weight-bold"
                style="font-size: x-large"
                >Documents</v-card-title>

                <v-card-text class="ml-5 mr-5 mb-10 pb-0">
                <span class="blue--text" @click="Download_doc()">[Download]<span class="ml-3 black--text">WI-DS-04-NX  Design Document</span></span>

                </v-card-text>

            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
const columns = [
  {
    title: "Category",
    dataIndex: "category",
    scopedSlots: { customRender: "name" },
  },
  {
    title: "Spec",
    className: "spec",
    dataIndex: "spec",
  },
];

const data = [
  {
    key: "1",
    category: "MCU",
    spec: "ESP32 WROVER-IB",
  },
  {
    key: "2",
    category: "Integrated PSRAM",
    spec: "8 MB",
  },
  {
    key: "3",
    category: "Integrated SPI flash",
    spec: "4 MB",
  },
  {
    key: "4",
    category: "Wi-Fi",
    spec: "Protocols 802.11 b/g/n (802.11n up to 150 Mbps)",
  },
  {
    key: "5",
    category: " ",
    spec: "2.4 GHz ~ 2.5 GHz Frequency range.",
  },
  {
    key: "6",
    category: "Bluetooth",
    spec: "Bluetooth v4.2 BR/EDR and BLE specification",
  },
  {
    key: "7",
    category: "Operating voltage / Power supply",
    spec: "1.8 V – 5.5 V",
  },
  {
    key: "8",
    category: "Module interfaces",
    spec: "-	Reset & Flash Button with Auto Flash Circuit",
  },
  {
    key: "9",
    category: " ",
    spec: "-	Micro USB Port",
  },
  {
    key: "10",
    category: " ",
    spec: "-	Serial LED Status",
  },
  {
    key: "11",
    category: " ",
    spec: "-	Power LED Status",
  },
  {
    key: "12",
    category: " ",
    spec: "-	4 Analog/Digital Grove Connectors",
  },
  {
    key: "13",
    category: " ",
    spec: "-	3 I2C Grove Connectors",
  },
  {
    key: "14",
    category: " ",
    spec: "-	UART Grove Connector",
  },
  {
    key: "15",
    category: " ",
    spec: "-	8 Female Pins Out",
  },
  {
    key: "16",
    category: "Sensor",
    spec: "-	Hall sensor (Build in MCU)",
  },
  {
    key: "17",
    category: " ",
    spec: "-	Phototransistor",
  },
  {
    key: "18",
    category: " ",
    spec: "-	LM75 Temperature Sensor",
  },
  {
    key: "19",
    category: "Recommended operating temperature range",
    spec: "–40 °C ~ 85 °C",
  },
  {
    key: "20",
    category: "Dimensions",
    spec: "(45.00±0.10) mm × (80.30±0.10) mm",
  },
];
export default {
  data() {
    return {
      data,
      columns,
      value_Increase_decrease : 0,
      picture_component: [
        {
          src: require("@/assets/img/bg_shop/nx2004_1.png"),
        },
        {
          src: require("@/assets/img/bg_shop/nx2004_2.png"),
        },
      ],
    };
  },
  computed: {

  },
  methods: {
    open(data) {
      console.log(data);
    },
    decrease_value(){
      if(this.value_Increase_decrease === 0){
          this.value_Increase_decrease
      }
      else{
         this.value_Increase_decrease -= 1
      }
    },
    Increase_value(){
        this.value_Increase_decrease += 1
    },
    add_to_cart(){
       console.log(this.value_Increase_decrease)

    },
    Download_doc(){
      consloe.log("download")
    }
  },
};
</script>
<style>
th.column-money,
td.column-money {
  text-align: right !important;
}
</style>