<template>
  <div>
    <v-row >
      <v-col class="pa-0">
        <v-carousel height="420px" style="" cycle hide-delimiters>
          <v-carousel-item
            v-for="(item, i) in photo_home_board"
            :key="i"
            :src="item.src"
          >
          </v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>
    <v-row class="mx-16 pa-0">
      <v-col cols="3">
        <v-card class="mx-auto" max-width="500" elevation="0" outlined>
          <v-sheet class="pa-3 black">
            <v-text-field
              v-model="search"
              label="Search Board Directory"
              prepend-inner-icon="mdi-magnify"
              dark
              flat
              solo-inverted
              hide-details
              clearable
              clear-icon="mdi-close-circle-outline"
            ></v-text-field>
          </v-sheet>
          <v-card-text>
            <v-treeview
              :items="items"
              :search="search"
              :filter="filter"
              color="red"
              hoverable
              open-on-click
              activatable
              transition
              :open.sync="open"
            >
              <template v-slot:prepend="{ item }">
                <v-icon
                  v-if="item.children"
                  v-text="
                    `mdi-${
                      item.id === 1
                        ? 'desktop-mac-dashboard'
                        : 'developer-board'
                    }`
                  "
                ></v-icon>
              </template>
            </v-treeview>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="9" class="pa-0">
        <v-row>
          <v-col class="px-7">
            <v-card class="px-2" elevation="0" outlined>
              <v-toolbar dense flat>
                <v-row no-gutters>
                  <v-col cols="1" sm="1" style="align-self: center">
                    <p class="mt-4 ml-3 font-weight-medium" style="">Sort by</p>
                  </v-col>
                  <v-col
                    cols="2"
                    sm="2"
                    class="mt-0"
                    style="align-self: center"
                  >
                    <a-select
                      default-value="Price"
                      style="width: 150px"
                      @change="handleChange"
                    >
                      <a-select-option value="New_arrivals">
                        New arrivals
                      </a-select-option>
                      <a-select-option value="Product_Name">
                        Product Name
                      </a-select-option>
                      <a-select-option value="Best_Sales"
                        >Best Sales</a-select-option
                      >
                    </a-select>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col cols="1" sm="1" style="align-self: center">
                    <p
                      class="mt-4 mr-5 ml-5 font-weight-medium"
                      style="width: 140px"
                    >
                      PRICE RANGE
                    </p>
                  </v-col>
                  <v-col
                    cols="1"
                    sm="1"
                    class="ml-12"
                    style="align-self: center"
                  >
                    <a-input-number
                      :default-value="0"
                      :min="-1"
                      :max="10000"
                      :formatter="
                        (value) =>
                          `$ ${value}`.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                      "
                      :parser="(value) => value.replace(/\$\s?|(,*)/g, '')"
                      @change="onChange"
                    />
                  </v-col>
                  <v-col cols="1" sm="1" style="align-self: center">
                    <p class="mt-4 ml-10 font-weight-medium">to</p>
                  </v-col>
                  <v-col
                    cols="1"
                    sm="1"
                    class="ml-0"
                    style="align-self: center"
                  >
                    <a-input-number
                      :default-value="1000"
                      :formatter="
                        (value) =>
                          `$ ${value}`.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                      "
                      :parser="(value) => value.replace(/\$\s?|(,*)/g, '')"
                      @change="onChange"
                    />
                  </v-col>
                  <v-col cols="2" sm="2" style="text-align-last: right">
                    <p
                      class="mt-4 ml-12 font-weight-medium"
                      style="width: 140px"
                    >
                      Total items: 120
                    </p>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col
                    cols="2"
                    sm="2"
                    class="pa-0"
                    style="
                      align-self: center;
                      width: 15px;
                      text-align-last: right;
                    "
                  ><v-btn icon>
                      <v-icon class="ml-1" @click="func_grid_list()"
                        >mdi-view-grid</v-icon
                      >
                    </v-btn>
                    <v-btn icon>
                      <v-icon class="ml-1" @click="func_menu_list()"
                        >mdi-menu</v-icon
                      >
                    </v-btn>

                    
                  </v-col>
                </v-row>
              </v-toolbar>
            </v-card>
          </v-col>
        </v-row>
<!-- grid list-->
        <v-row class="mt-0" no-gutters  v-if="this.state_grid_list === 1">
          <v-col
            cols="3"
            class="px-4"
            v-for="items in list_Board_Section2"
            :key="items"
            
          >
          <v-hover v-slot="{ hover }">
            <v-card
             :elevation="hover ? 16 : 2"
              :loading="loading"
              class="mx-auto mt-2 mb-5"
              max-width="250"
              outlined
              @click="Open_produce(items)"
            >
              <v-img height="20px" :src="items.src_hearder"></v-img>
              <v-img height="150px" :src="items.src"></v-img>
              <v-card-title
                class="font-weight-bold truncate"
                style="font-size: large"
                >{{ items.title }}</v-card-title
              >

              <v-card-text class="truncate">{{
                items.detail_board
              }}</v-card-text>

              <v-divider class="mx-2"></v-divider>
              <v-row class="pa-0" align="center" justify="center">
                <v-col class="pa-0">
                  <v-btn
                    class="white--text font-weight-bold float-left ml-5"
                    depressed
                    small
                    width="70px"
                    color="black"
                  >
                    {{ items.price }}
                  </v-btn>
                </v-col>
                <v-col class="mr-1">
                  <v-btn width="40px" depressed color="blue" small class="float-right mr-1">
                    <v-icon small color="white" v-bind="attrs" v-on="on">{{
                      items.cart
                    }}</v-icon>
                  </v-btn>

                  <v-btn
                    width="40px"
                    depressed
                    color="orange"
                    small
                    class="float-right mr-1"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon small color="white">{{ items.star }}</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card>
            </v-hover>
          </v-col>
          <v-col align="right" justify="right" class="mt-8">
            <div class="text-center">
              <v-pagination
                v-model="page"
                :length="15"
                :total-visible="7"
              ></v-pagination>
            </div>
          </v-col>
        </v-row>
<!-- menu list -->
           <v-row class="mt-0" no-gutters  v-if="this.state_menu_list === 1">
          <v-col
            cols="12"
            class="px-4"
            v-for="items in list_Board_Section2"
            :key="items"
           
          >
            <v-hover v-slot="{ hover }">
            <v-card
             :elevation="hover ? 16 : 2"
              :loading="loading"
              class="mx-auto mt-2"
              @click="Open_produce(items)"
              outlined
            >
            <v-row align="center" justify="center">
              <v-col cols="4" >
              <v-img height="15%" :src="items.src"></v-img>
              </v-col>
              <v-col cols="8" class="pa-0">
                <v-row align="center" justify="center">
                  <v-col cols="12"  class="pa-0">
                    <v-card-title
                class="font-weight-bold truncate_Shop_width_listMenu"
                style="font-size: x-large"
                >{{ items.title }}
              </v-card-title>
               
              <v-card-text class="truncate">{{
                items.detail_board
              }}</v-card-text>
                  </v-col>
                </v-row>
                
              <v-divider class="mx-2"></v-divider>
              <v-row class="pa-0" align="center" justify="center">
                <v-col cols="4" class="pa-0">
                  <v-btn
                    class="white--text font-weight-bold float-left ml-4"
                    depressed
                    small
                    color="black"
                  >
                    {{ items.price }}
                  </v-btn>
                </v-col>
                <v-col cols="8" class="">
                  <v-btn style="width:90px"  depressed color="blue" small class="float-right mr-8">
                    <v-icon small color="white" v-bind="attrs" v-on="on">{{
                      items.cart
                    }}</v-icon>
                  </v-btn>

                  <v-btn
                    depressed
                    color="orange"
                    small
                    style="width:70px" 
                    class="float-right mr-3"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon small color="white">{{ items.star }}</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
              </v-col>
            </v-row>
            </v-card>
            </v-hover>
          </v-col>
          <v-col align="right" justify="right" class="mt-8">
            <div class="text-center">
              <v-pagination
                v-model="page"
                :length="15"
                :total-visible="7"
              ></v-pagination>
            </div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

  </div>
</template>

<script>
export default {
  name: "Homepage",
  components: {},
  data: () => ({
    items_sort: ["Foo", "Bar", "Fizz", "Buzz"],
    list_Board_Section2: [
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/test.png"),
        title: "PX1001",
        detail_board: "This is Piebox1001",
        price: "$17.99",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD OLED",
        detail_board: "This is NX2003 SHIELD OLED",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXGROVE_BOARD.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/White.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
    ],
    photo_home_board: [
      {
        src: require("@/assets/img/bg_shop/shop_sportlight1.jpg"),
      },
      {
        src: require("@/assets/img/Picture_SportLight/NX2005_BOAED_ver2.jpg"),
      },
      {
        src: require("@/assets/img/Picture_SportLight/์NX2005_BOAED.jpg"),
      },
    ],
    items: [
      {
        id: 1,
        name: "Board",
        children: [
          {
            id: 2,
            name: "NEXPIE Board",
            children: [
              {
                id: 201,
                name: "NX2003",
              },
              {
                id: 202,
                name: "NX2004",
              },
              {
                id: 203,
                name: "NX2005",
              },
              {
                id: 204,
                name: "PX1001",
              },
            ],
          },
          {
            id: 3,
            name: "Shield",
            children: [
              {
                id: 301,
                name: "NXShield",
              },
              {
                id: 302,
                name: "PXShield",
              },
            ],
          },
          {
            id: 4,
            name: "Arduino",
            children: [
              {
                id: 401,
                name: "Arduino1",
              },
              {
                id: 402,
                name: "Arduino2",
              },
              {
                id: 403,
                name: "Arduino3",
              },
            ],
          },
        ],
      },
    ],
    open: [1, 2],
    state_list: 1,
    search: null,
    caseSensitive: true,
  }),
  computed: {
    filter() {
      return this.caseSensitive
        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
        : undefined;
    },
    state_menu_list(){
      var state_menu_list = this.$store.state.StateMenuList;
      return state_menu_list
    },
    state_grid_list(){
      var state_grid_list = this.$store.state.StateGridList;
      return state_grid_list
    }
  },
  methods: { 
    func_grid_list(){
         var state = 0
         this.$store.commit("state_menu_list", state);
         this.$store.commit("state_grid_list", this.state_list);
    },
    func_menu_list() {
         var  state = 0
       this.$store.commit("state_menu_list",  this.state_list);
       this.$store.commit("state_grid_list", state);
    },
    Open_produce(items){
      console.log(items);
      this.$router.push("/Shop/Produce");
    }
  },
};
</script>

<style scoped>
.background_colors {
  background-color: #f2f2f2;
}
/* .sitemessage {
  display: inline-block;
  white-space: nowrap;
  animation: floatText 15s infinite linear;
  padding-left: 10%; */
/* }
.sitemessage:hover {
  animation-play-state: paused;
}
@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
} */
</style>