<template>
  <div
    class=""
    style="position: relative; z-index: 5; background-color: #f2f2f2;"
  >
    <v-row class=" " align="center" justify="center" style="">
      <v-card-title style="place-content: center; !important">
        <p
          class=" font-weight-bold  pa-16 "
          style="font-size: xxx-large; color: black; "
        >
          Featured Solution
        </p>
      </v-card-title>
    </v-row>

    <v-row class="mx-16 px-16" align="center" justify="center" style="">
      <v-col
        cols="4"
        class="pa-0 px-8 "
        v-for="items in array_Board_Section1"
        :key="items"
      >
          <v-card
            :loading="loading"
            elevation="8"
            class="mx-0 geeks"
            height="480"
            width="400"
            color="white"
            style="border-radius: 10px;"
          >
            <v-card flat class="pa-2">
              <img :src="items.src" />
            </v-card>
            <v-card-title
              class=" font-weight-bold my-2 mx-2 "
              style="font-size: xx-large; color:#D50000;"
            >
              {{ items.title }}
            </v-card-title>
            <v-card-subtitle
              class=" black--text font-weight-light mx-2"
              style="height: 120px;"
            >
              {{ items.text }}
            </v-card-subtitle>
            <v-card-actions class="mx-2">
              <v-btn color="orange lighten-2 float-left" text style="border">
                See solution
                <v-icon class="ml-3"
                  >mdi-arrow-right-drop-circle-outline</v-icon
                >
              </v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
      </v-col>
    </v-row>

    <v-row class="pb-16">
      <v-col
        cols="12"
        class="mt-10 mb-16 "
        align="center"
        justify="center"
        style="place-content: center; font-size: large;"
      >
        <router-link :to="{ path: '/Solution' }"
          >See All Solution ></router-link
        >
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "Homepage",
  components: {},
  data: () => ({
    array_Board_Section1: [
      {
        src: require("@/assets/img/Picture_solution/solution11.png"),
        title: "Smart Toilet",
        text:
          "Mauris massa magna semper amet. Urna cursus elit consectetur est. Non gravida nunc leo tortor commodo sed sem ipsum. Porttitor dui vestibulum, interdum amet enim.",
      },
      {
        src: require("@/assets/img/Picture_solution/smatfarm_9_orig.jpg"),
        title: "IoT Market",
        text:
          "Sit diam cursus scelerisque rhoncus. Eget posuere magna non iaculis lacinia. Arcu, in pellentesque sagittis ac velit enim quis.",
      },
      {
        src: require("@/assets/img/Picture_solution/smatfarm_9_orig.jpg"),
        title: "IoT Market",
        text:
          "Sit diam cursus scelerisque rhoncus. Eget posuere magna non iaculis lacinia. Arcu, in pellentesque sagittis ac velit enim quis.",
      },
    ],
  }),
};
</script>

<style scoped>
.background_colors {
  background-color: #f2f2f2;
}
/* .truncate {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

</style>
