<template>
  <div id="app">
    <div style="background-color: #fff; height: 20vh"></div>
    <div style="position: relative; z-index: 1; background-color: #fff">
      <v-row
        class="animated fadeIn slow"
        style="margin-top:9%"
        justify="center"
        align="center"
      >
        <v-col cols="12" align="center" style="" class="">
          <v-img
            max-width="25%"
            max-height="100%"
            style="position: relative; z-index: 2"
            src="@/assets/img/Logo/Logo_inet.png"
          ></v-img>
        </v-col>
      </v-row>
      <v-row
        class="mt-2 pb-16 animated fadeInUpBig slow"
        justify="center"
        align="center"
      >
        <v-col cols="12" align="center">
          <v-btn
            rounded
            outlined
            width="170px"
            large
            color="grey darken-1"
            dark
          >
            About us <v-icon class="ml-2 ">mdi-chevron-right</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row
        class="mt-16 pt-16"
        align="center"
        justify="center"
        style="margin-top:0%"
      >
        <v-card-title style="place-content: center; !important">
          <p
            class=" font-weight-bold mt-16"
            style="font-size: xxx-large; color:#D50000; margin-bottom: 20%"
          >
            Our Solution
          </p>
        </v-card-title>
      </v-row>
      <v-row
        class="mx-10 px-16 "
        align="center"
        justify="center"
        
      >
        <v-col
          cols="4"
          class=""
          align="center"
          v-for="items in array_Board_Section1"
          :key="items"
        >
          <v-hover v-slot="{ hover }">
            <v-card
              :loading="loading"
              :elevation="hover ? 24 : 2"
              :class="{ 'on-hover': hover }"
              class="transparent"
              style="border-radius:20px; overflow: hidden;"
              max-width="370px"
              height="450px"
            >
              <v-img
                cover
                class="ma-0 pa-0 align-end "
                width="100%"
                height="100%"
                :src="items.bg"
                style="border-radius:20px; "
              >
                <div class="ontop_opacity ">
                  <v-card
                    flat
                    class="transparent"
                    height="64px"
                    style=" border-radius:0px 0px 20px 20px; "
                  >
                    <h1 class="title " style="color:white; ">{{ items.title }}</h1>
                  </v-card>
                </div>
              </v-img>
              <v-expand-transition>
                <v-card
                  flat
                  v-if="hover"
                  class="ontop_opacity transparent mb-16 d-flex transition-fast-in-fast-out "
                  style="height: 386px; border-radius:20px 20px 0px 0px; bottom:0; position: absolute;"
                >
                  <v-row
                    class="ma-0 pa-0"
                    align-content="center"
                    justify="center"
                  >
                    <v-img
                      cover
                      max-height="80"
                      max-width="60"
                      :src="items.icon"
                    ></v-img>
                    <v-row  class="ma-0 pa-0" align-content="center" justify="center">
                        <v-card flat class="transparent"
                        >
                          <v-card-text
                            class="px-3"
                            style=" font-size: large;  text-align: center; color:white;" 
                          >
                            {{ items.text }}
                          </v-card-text>
                        </v-card>
                    </v-row>
                  </v-row>
                </v-card>
              </v-expand-transition>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <v-row class="mt-8 mb-16">
        <!-- <div class="ontop_opacity " style="">
          <v-card class="transparent">
            <h1 style="color:white;">kittehs everywhere!</h1>
          </v-card>
        </div> -->
        <v-col
          cols="12"
          class=""
          align="center"
          justify="center"
          style="place-content: center; font-size: large;"
        >
          <router-link :to="{ path: '/SolutionsBoard' }"
            >See All Solutions ></router-link
          >
        </v-col>
      </v-row>
      <parallax :fixed="true" style=" height: 100%;">
        <img src="@/assets/img/bg_picture/background_home.jpg" />
      </parallax>
    </div>
  </div>
</template>

<script>
import Parallax from "@/components/HomePage/Parallax.vue";
export default {
  name: "HomePageSection1",
  components: {
    Parallax,
  },
  data: () => ({
    photo_home_board: [
      {
        src: require("@/assets/img/bg_picture/bg_createby_giant.jpg"),
      },
      {
        src: require("@/assets/img/Picture_SportLight/NX2005_BOAED_ver2.jpg"),
      },
      {
        src: require("@/assets/img/Picture_SportLight/์NX2005_BOAED.jpg"),
      },
      {
        src: require("@/assets/img/Picture_SportLight/NX2004_BOAED.jpg"),
      },
      {
        src: require("@/assets/img/Picture_SportLight/Piebox_ver2.jpg"),
      },
      {
        src: require("@/assets/img/Picture_SportLight/NX2003.jpg"),
      },
      {
        src: require("@/assets/img/Picture_SportLight/NX2003_Shield.jpg"),
      },
    ],
    array_Board_Section1: [
      {
        src_hearder: require("@/assets/img/Picture_Header/Rcommended.png"),
        src: require("@/assets/img/Picture_board/test.png"),
        title: "PX1001",
        detail_board: "This is Piebox1001",
        price: "$17.99",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/NewArrival.png"),
        src: require("@/assets/img/Picture_board/NX2005_BOARD.png"),
        title: "NX2003 SHIELD OLED",
        detail_board: "This is NX2003 SHIELD OLED",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/BestSellers.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board.png"),
        title: "NX2003 SHIELD GROVE",
        detail_board: "This is NX2003 SHIELD GROVE",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
    ],
    Advertising_Picture: [
      {
        src: require("@/assets/img/Picture_SportLight/NX2004_BOAED.jpg"),
      },
      {
        src: require("@/assets/img/Picture_SportLight/Piebox_ver2.jpg"),
      },
    ],
    array_Board_Section1: [
      {
        bg: require("@/assets/img/Picture_solution/education.jpg"),
        icon: require("@/assets/img/Picture_solution/education_icon.png"),
        title: "Education",
        text:
          "Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.",
      },
      {
        bg: require("@/assets/img/Picture_solution/Industrial_.jpg"),
        icon: require("@/assets/img/Picture_solution/Industrial_icon.png"),
        title: "Industrial",
        text:
          "The Internet of things (IoT) describes the network of physical objects—“things”—that are embedded with sensors, software, and other technologies for the purpose of connecting and exchanging data with other devices and systems over the Internet.",
      },
      {
        bg: require("@/assets/img/Picture_solution/Business.jpg"),
        icon: require("@/assets/img/Picture_solution/Business_icon.png"),
        title: "Business",
        text:
          "There are a number of serious concerns about dangers in the growth of IoT, especially in the areas of privacy and security, and consequently industry and governmental moves to address these concerns have begun including the development of international standards.",
      },
    ],
  }),
};
</script>
<style>
.myClass img {
  border: 0;
}

.ontop_opacity {
  position: relative;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ontop_opacity::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}
</style>
