<template>
  <div
    class=""
    style="position: relative; z-index: 5; background-color: white; "
  >
    <!-- <v-img src="@/assets/img/bg_picture/background_home_png.png" > -->
    <v-row class=" pt-16" align="center" justify="center">
      <v-card-title class=" font-weight-bold display-2">
        Featured News
      </v-card-title>
    </v-row>
    <v-divider
      class="green"
      style="margin-left:30%; margin-right:30%"
    ></v-divider>

    <!-- <v-row align="center" justify="center">
      <v-img
        src="@/assets/img/bg_picture/bg_home_solution.jpg"
        class="align-center"
      >
        <v-card-title style="place-content: center; !important">
          <p
            class="font-weight-bold mt-5"
            style="font-size: xxx-large; color:#D50000;"
          >
            Featured News
          </p>
        </v-card-title>
      </v-img>
    </v-row> -->
    <v-row class=" px-16 py-10 " align="center" justify="center">
      <v-col class="pa-0  mx-5 mb-5" cols="3" v-for="n in news" :key="n">
        <v-card
          :loading="loading"
          elevation="8"
          class="mx-0 geeks "
          height="530"
          color="white"
          style="border-radius: 10px; padding-bottom:10%"
          @click="openNEWs()"
        >
          <v-card flat class="white pa-3 ">
            <img height="210px" :src="n.src" style="object-fit: cover;" />
          </v-card>

          <v-row class="pa-0 px-5 mt-8" align="left" justify="left">
            <v-col class="pa-0 ml-5 ex1" cols="3" justify="left">
              <v-icon class="">mdi-account</v-icon>
              <span class="mx-1 ex1 caption">News</span>
            </v-col>
            <v-col class="pa-0 ml-2" cols="5" justify="left">
              <v-icon>mdi-calendar-month</v-icon>
              <span class="mx-1 ex1 caption">20 พ.ย 2563</span>
            </v-col>
          </v-row>

          <v-card-title
            class=" font-weight-bold mx-2 subtitle-1 "
            style="color: #d50000"
          >
            {{ n.title }}
          </v-card-title>
          <v-card-subtitle
            class="black--text font-weight-light mx-2 pt-2 subtitle-2 "
            style=""
          >
            {{ n.text }}
          </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>

    <v-row class="mb-10" style="">
      <v-col
        cols="12"
        class=""
        align="center"
        justify="center"
        style="place-content: center; font-size: large;"
      >
        <router-link :to="{ path: '/Solution' }">See All Product ></router-link>
      </v-col>
    </v-row>
    <v-row class="mx-16 px-16">
      <v-divider
        class=" mx-16"
        style=" margin-bottom:10%; "
      ></v-divider>
    </v-row>
    <!-- </v-img> -->
  </div>
</template>

<script>
export default {
  name: "Homepage",
  components: {},
  data: () => ({
    news: [
      ///index 0 is Featured
      {
        src: require("@/assets/img/Picture_News/news_bus_2.jpg"),
        title:
          "สอนใช้งาน NodeMCU ESP8266 เริ่มต้นติดตั้ง NodeMCU ESP8266 ลงบน Arduino IDE",
        text:
          " ในการสื่อเรียนรู้นี้ เราเลือกใช้โปรแกรม Sketch ของ Arduino (Arduino IDE) ในการเขียนโปรแกรมควบคุมการทำงานของบอร์ด NodeMCU/ESP8266 (ซึ่งในบางครั้ง อาจเรียกบอร์ดลักษณะนี้ว่า WiFi controller) ",
      },
      {
        src: require("@/assets/img/Picture_News/news_bus_1.jpg"),
        title: "INET เปิดตัวหลักสูตรอบรม Kid Bright Creator",
        text:
          "บริษัท แมนดาลา คอมมูนิเคชั่น จำกัด บริษัทในเครือ บริษัท อินเทอร์เน็ตประเทศไทย จำกัด (มหาชน) หรือ INET เปิดตัวหลักสูตรอบรม Kid Bright Creator ที่พัฒนามาจากโครงการวิจัยบอร์ดสมองกลเพื่อการเรียนรู้และการเขียนโปรแกรม Kid Bright ของสำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.) และ ",
      },
      {
        src: require("@/assets/img/Picture_News/news_IT_1.jpg"),
        title: "เปิดตัวบอร์ดจิ๋วแต่แจ๋ว NX2005 รองรับ GROVE Connector",
        text:
          "NEXPIE ได้ทำการเปิดตัวบอร์ดไมโครคอนโทรลเลอร์ รุ่นล่าสุด NX2005 ที่มีจุดเด่นอยู่ที่ขนาดเล็กกะทัดรัด สามารถใช้งานกับเบรดบอร์ดขนาดเล็กได้ และมี Connector ของ GROVEติดตั้งมาบนบอร์ดอีกด้วย",
      },
    ],
  }),
};
</script>
<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
.fa {
  font-size: 32px;
  color: #9c47fc;
  display: block;
  background: -webkit-linear-gradient(#00b09b, #96c93d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
