<template>
  <div
    class=""
    style="position: relative; z-index: 5; background-color: #f2f2f2;"
  >
    <v-card flat class="mx-16 px-16 transparent ">
      <v-row
        class="mx-16 py-16 "
        style="background-color:white;"
        align="center"
        justify="center"
      >
        <v-col cols="4" class="pa-0 ">
          <v-card flat class="  pa-0">
            <v-row justify="center">
              <v-icon class=" fa" size="100px">mdi-account-tie</v-icon>
            </v-row>
            <v-row class="px-10 ">
              <v-card-text
                class="pb-0"
                style="font-size: xx-large; text-align: center;  color:black;"
              >
                Who we are
              </v-card-text>
              <v-card-text class="subtitle-1" style="text-align: center;">
                With worldwide operations and global ambitions, Atop is proud to
                be a part of connecting our world.
              </v-card-text>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="4" class="pa-0 ">
          <v-card flat class="  pa-0">
            <v-row justify="center">
              <v-icon class=" fa" size="100px"
                >mdi-chart-timeline-variant-shimmer</v-icon
              >
            </v-row>
            <v-row class="px-10 ">
              <v-card-text
                class="pb-0"
                style="font-size: xx-large; text-align: center;  color:black;"
              >
                What we do
              </v-card-text>
              <v-card-text class="subtitle-1" style="text-align: center;">
                Atop designs and manufactures industrial operations solutions
                for industries and system integrators.
              </v-card-text>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="4" class="pa-0">
          <v-card flat class=" pa-0">
            <v-row justify="center">
              <v-icon class=" fa" size="100px">mdi-web-clock</v-icon>
            </v-row>
            <v-row class="px-10 ">
              <v-card-text
                class="pb-0"
                style="font-size: xx-large; text-align: center;  color:black;"
              >
                History
              </v-card-text>
              <v-card-text class="subtitle-1" style="text-align: center;">
                With over 25 years experience, Atop understands the challenges
                industries face in automating their businesses.
              </v-card-text>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
    <v-card-title class="mt-16 mb-5" style="place-content: center; !important">
      <p class=" font-weight-bold  " style="font-size: xxx-large; ">
        Recommended Product
      </p>
    </v-card-title>
    <v-card flat class="mx-16 px-12 transparent">
      <v-row class="mx-16  py-2" align="center" justify="center">
        <v-col
          cols="4" 
          class="pa-5  "
          align="center"
          v-for="items in array_Board_Section1"
          :key="items"
        >
          <v-card :loading="loading" class="geeks" height="500px"   style="border-radius:20px;">
            <v-card flat class="my-10">
              <img
                width="250px"
                height="250px"
                :src="items.src"
              />
            </v-card>
            <v-divider class="my-0 mx-5"></v-divider>
            <v-card-title class="fa px-5 font-weight-bold headline" style="text-align:left;">{{
              items.title
            }}</v-card-title>
            <v-card-text align="left" class="px-5  subtitle-2">{{
              items.detail_board
            }}</v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-card>

    <v-row class="">
      <v-col
        cols="12"
        class="mt-10 mb-16 "
        align="center"
        justify="center"
        style="place-content: center; font-size: large;"
      >
        <router-link :to="{ path: '/Solution' }">See All Product ></router-link>
      </v-col>
    </v-row>
    <!-- <v-row class=" mx-8 px-16 " align="center" justify="center">
      <v-carousel
        light
        height="450"
        class="ma-0 pa-0"
        show-arrows-on-hover
        hide-delimiters
      >
        <v-carousel-item v-for="i in array_Board_Section1" :key="i">
          <v-sheet
            height="100%"
            color="transparent"
            style="align-items:center; justify-content:center;"
          >
            <v-row class="mx-14 fill-height">
              <v-col
                cols="4"
                align="center"
                class="ma-0 pa-0"
                style="display: flex;
                justify-content: center;
                align-items: center;"
                v-for="items in array_Board_Section1"
                :key="items"
              >
                <v-card
                  :loading="loading"
                  class="ma-0 pa-0 "
                  width="340px"
                  height="380px"
                  style="border-radius:15px; "
                >
                  <template slot="progress">
                    <v-progress-linear
                      color="deep-purple"
                      height="10"
                      indeterminate
                    ></v-progress-linear>
                  </template>
                  <v-img
                    contain
                    class="mt-10 mb-2 zoom"
                    height="170px"
                    :src="items.src"
                  ></v-img>
                  <v-card-title class="ma-0 pa-0 mx-5 font-weight-bold ">{{
                    items.title
                  }}</v-card-title>
                  <v-card-text
                    align="left"
                    class="ma-0 pa-0 mx-5 mb-2 subtitle-2"
                    >{{ items.detail_board }}</v-card-text
                  >
                  <v-divider class="mx-2"></v-divider>
                  <v-row align="center" justify="center" class="">
                    <v-col>
                      <v-btn
                        class="white--text font-weight-bold float-left ml-5"
                        depressed
                        color="black"
                        style="width:90px"
                      >
                        {{ items.price }}
                      </v-btn>
                    </v-col>
                    <v-col>
                      <v-btn
                        style="width:40px"
                        depressed
                        color="blue"
                        class="float-right mr-5"
                      >
                        <v-icon color="white">{{ items.cart }}</v-icon>
                      </v-btn>
                      <v-btn
                        style="width:40px"
                        depressed
                        color="orange"
                        class="float-right mr-1"
                      >
                        <v-icon color="white">{{ items.star }}</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
    </v-row> -->
  </div>
</template>

<script>
export default {
  name: "Homepage",
  components: {},
  data: () => ({
    array_Board_Section1: [
      {
        src_hearder: require("@/assets/img/Picture_Header/Rcommended.png"),
        src: require("@/assets/img/Picture_board/PX1001_1.png"),
        title: "PX1001",
        detail_board: "This is extention board for PieBox. enable chip ATMega328p . Supported Johny five ,Node red",
        price: "$17.99",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/BestSellers.png"),
        src: require("@/assets/img/Picture_board/NX2005_BOARD_1.png"),
        title: "NX2005 ",
        detail_board: "This is board NX2005 , design for use Grove sensor ,small and easy to use  ",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
      {
        src_hearder: require("@/assets/img/Picture_Header/Rcommended.png"),
        src: require("@/assets/img/Picture_board/NXOLED_Board_1.png"),
        title: "NX2003 SHIELD OLED",
        detail_board: "This is SHIELD OLED for broad NX2003 . prominent point is OLED , big button , temp sensor and LDR sensor ",
        price: "$9.50",
        cart: "mdi-cart",
        star: "mdi-star",
      },
    ],
  }),
};
</script>

<style scoped>
.background_colors {
  background-color: #f2f2f2;
}
.fa {
  font-size: 32px;
  color: #9c47fc;
  display: block;
  background: -webkit-linear-gradient(#00b09b, #96c93d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
