<template>
  <div>
    <v-img
      class=""
      style="position: relative; z-index: 2"
      src="@/assets/img/bg_picture/Wj1D-qiOseE.png"
    >
      <v-row
        class="animated fadeIn slow"
        justify="center"
        align="center"
        style="animation-duration: 2s"
      >
        <v-col justify="center" align="center">
          <v-card-title
            class="display-4 font-weight-black white--text"
            style="place-content: center; margin-top: 8%"
          >
            About US
          </v-card-title>
        </v-col>
      </v-row>
    </v-img>

    <v-row class="mx-16 mt-10" align="center" justify="center">
      <v-col class="mx-5" cols="10">
        <v-card flat style="border-radius: 20px">
          <v-card-title
            class="display-1 pt-6 pl-5 mb-5 font-weight-black pa-0"
            style=""
          >
            Contacting us
          </v-card-title>
          <h3
            class=""
            height="10px"
            style="
              width: 170px;
              height: 7px;
              margin-left: -45px;
              margin-top: -10px;
              background-color: #01b978;
            "
          ></h3>
          <v-card class="mx-auto mt-5 pb-5" flat width="80%">
            <v-card-text
              >If you have any questions regarding our products, services, or
              the website, then you can contact us using the Contact form. Your
              opinions and suggestions are also important to us. So feel free to
              let us know what we're doing right or what we could be doing to
              serve you better in the future.
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
    <v-row class="mx-16" align="center" justify="center">
      <v-col class="mx-5" cols="10">
        <Customerinformation ref="Customerinformation"></Customerinformation>
      </v-col>
    </v-row>

    <v-row class="mb-10" align="center" justify="center">
      <v-col class="" cols="4">
        <v-card flat style="border-radius: 20px">
          <v-card-title class="display-1 font-weight-black" style="">
            Subscribe to Newsletter
          </v-card-title>
          <h3
            class=""
            height="10px"
            style="
              width: 170px;
              height: 7px;
              margin-left: -45px;
              background-color: #01b978;
            "
          ></h3>
          <v-row class="pt-5 pb-5 px-10" align="left" justify="left">
            <v-col cols="8">
              <v-text-field class="" height="50px" solo label="E-mail">
              </v-text-field>
            </v-col>
            <v-col cols="2" class="">
              <v-btn
                class="white--text"
                depressed
                color="#01b930"
                height="50px"
              >
                <v-icon class="mr-1" color="white">mdi-email</v-icon>
                Submit
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="1"></v-col>
      <v-col class="" cols="4">
        <v-card flat style="border-radius: 20px">
          <v-card-title class="display-1 font-weight-black" style="">
            Contact Us Developers
          </v-card-title>
          <h3
            class=""
            height="10px"
            style="
              width: 170px;
              height: 7px;
              margin-left: -45px;
              background-color: #01b978;
            "
          ></h3>
          <v-row class="px-12" align="left" justify="left">
            <v-col cols="2">
              <v-avatar>
                <img
                  src="https://cdn.vuetifyjs.com/images/john.jpg"
                  alt="John"
                />
              </v-avatar>
            </v-col>
            <v-col cols="5" class="pr-2">
              <v-card-text
                class="body-2 font-weight-bold pa-0 pt-2 truncate"
                >Example1@inet.co.th</v-card-text
              >
            </v-col>
            <v-col cols="2" class="ml-5">
              <v-btn fab small icon>
                <v-icon class="mr-1" color="black"> mdi-github </v-icon
                >gitHub</v-btn
              >
            </v-col>

            <v-col cols="2" class="ml-3">
              <v-btn fab small icon>
                <v-icon class="mr-1" color="orange"> mdi-gitlab </v-icon
                >gitlab</v-btn
              >
            </v-col>
          </v-row>

            <v-row class="px-12" align="left" justify="left">
            <v-col cols="2">
              <v-avatar color="orange"
      size="48">
                <span class="white--text headline">Nu</span>
              </v-avatar>
            </v-col>
            <v-col cols="5" class="pr-2">
              <v-card-text
                class="body-2 font-weight-bold pa-0 pt-2 truncate"
                >Example1@inet.co.th</v-card-text
              >
            </v-col>
            <v-col cols="2" class="ml-5">
              <v-btn fab small icon>
                <v-icon class="mr-1" color="black"> mdi-github </v-icon
                >gitHub</v-btn
              >
            </v-col>

            <v-col cols="2" class="ml-3">
              <v-btn fab small icon>
                <v-icon class="mr-1" color="orange"> mdi-gitlab </v-icon
                >gitlab</v-btn
              >
            </v-col>
          </v-row>

          
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Customerinformation from "@/components/AboutUS/Customerinformation.vue";
export default {
  components: {
    Customerinformation,
  },
};
</script>