<template>
  <div>
    <v-card flat class="mb-5" style="border-radius: 20px">
      <v-card-title class="display-1 mt-5 font-weight-black" style="">
        Customer information
      </v-card-title>
        <h3
            class=""
            height="10px"
            style="
              width: 170px;
              height: 7px;
              margin-left: -45px;
              margin-top: -5px;
              background-color: #01b978;
            "
          ></h3>
      <v-row class="px-16 mt-10" align="center" justify="center">
        <v-col cols="5">
          <v-text-field outlined label="Name*" color="green"></v-text-field>
          <v-select
            v-model="e1"
            :items="states"
            outlined
            color="green"
            menu-props="auto"
            label="Country"
            inner-icon="mdi-map"
          ></v-select>

          <v-text-field
            outlined
            label="Kind of enquiry*"
            color="green"
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="[rules.required, rules.emailinvalid]"
            outlined
            label="E-mail*"
            class=""
            required
            type=""
            color="green"
          ></v-text-field>
        </v-col>
        <v-col cols="5">
          <v-text-field outlined label="Surname*" color="green"></v-text-field>

          <v-text-field outlined label="Company*" color="green"></v-text-field>
          <v-text-field outlined label="Address*" color="green"></v-text-field>
          <v-text-field
            outlined
            label="Contact number*"
            color="green"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row class="px-16 pa-0" align="center" justify="center">
        <v-col cols="10">
          <v-textarea
            class=""
            outlined
            name="input-7-4"
            value=""
            label="Message*"
            color="green"
          ></v-textarea>

        </v-col>
           <v-row class="px-16 pa-0 mb-10" align="right" justify="right">
        <!-- <v-col class="" cols="8">
          <v-checkbox v-model="checkbox">
            <template v-slot:label>
              <v-card-text class="mt-2">
                I have read and agree to the Privacy Policy (art. 13 and 14 of the GDPR - EU Regulation 2016/679)
              </v-card-text>
            </template>
          </v-checkbox>
        </v-col> -->
        <v-col cols="12" class="" align="center" justify="center">
          <v-btn class="white--text" outlined depressed large color="green"> Send information<v-icon class="ml-2">mdi-chevron-right</v-icon></v-btn>
        </v-col>
      </v-row>
      </v-row>
   
    </v-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      e1: "",
      states: [
        "Alabama",
        "Alaska",
        "American Samoa",
        "Arizona",
        "Arkansas",
        "California",
        "Colorado",
        "Connecticut",
        "Delaware",
        "District of Columbia",
        "Federated States of Micronesia",
        "Florida",
        "Georgia",
        "Guam",
        "Hawaii",
        "Idaho",
        "Illinois",
        "Indiana",
        "Iowa",
        "Kansas",
        "Kentucky",
        "Louisiana",
        "Maine",
        "Marshall Islands",
        "Maryland",
        "Massachusetts",
        "Michigan",
        "Minnesota",
        "Mississippi",
        "Missouri",
        "Montana",
        "Nebraska",
        "Nevada",
        "New Hampshire",
        "New Jersey",
        "New Mexico",
        "New York",
        "North Carolina",
        "North Dakota",
        "Northern Mariana Islands",
        "Ohio",
        "Oklahoma",
        "Oregon",
        "Palau",
        "Pennsylvania",
        "Puerto Rico",
        "Rhode Island",
        "South Carolina",
        "South Dakota",
        "Tennessee",
        "Texas",
        "Utah",
        "Vermont",
        "Virgin Island",
        "Virginia",
        "Washington",
        "West Virginia",
        "Wisconsin",
        "Wyoming",
      ],
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
        emailinvalid: (v) => /.+@.+/.test(v) || "E-mail must be valid",
      },
    };
  },
};
</script>

<style scoped>
</style>