@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.app_bar_text_weight {
  font-weight: bold;;
}
.background_color{
  background-color: #f2f2f2;
}
.pointer {cursor: pointer;}
.geeks {
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}
.geeks img {
  width: 100%;
  object-fit: contain;
  transition: 0.3s all ease-in-out;
}
.geeks:hover img {
  transform: scale(1.1);
}
.zoom {
  width: 100%;
  transition: 0.3s all ease-in-out;
}
.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.hover_img_solution {
  /* height: 250px; */
  overflow: hidden;
  margin: 0 auto;
}
.hover_img_solution img {
  width: 85%;
  transition: 0.3s all ease-in-out;
}
.hover_img_solution:hover img {
  transform: scale(1.1);
}
.hover_icon_solution {
  /* height: 250px; */
  overflow: hidden;
  margin: 0 auto;
}
.hover_icon_solution i{
  width: 85%;
  transition: 0.3s all ease-in-out;
}
.hover_icon_solution:hover i {
  transform: scale(1.3);
}
.truncate {
  max-width:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate_Shop_width_listMenu {
  max-width:500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.bg_Recommended_Product_home {
  background-image: url("../../assets/img/bg_picture/ddddQ.jpg");
  height: 100%;
  width: 100%;
 
 
  background-size: cover;
  background-position-y: bottom;
  background-attachment: fixed;
}
#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
}
.round {
  border-radius: 25px;
}
.button_radius{
  border-radius: 10px;
}
.title {
  font-family: "sukhumvit_setlight";
}
.menu_tb > .v-btn:before {
  background-color: #1d6d7d;
  /* opacity: 0.8; */

  font-weight: bold;
}
.bg_image {
  background-image: linear-gradient(to right, #5cd6d6, #adebeb);
}
.bg_personnel {
  background-color: #f5f5f5;
}
.bg_chart {
  background-color: whitesmoke;
}
.bg_news {
  background-color: #e3ecee;
}
.headnews {
  font-size: 24px;
  color: #1d6d7d;
  font-weight: bold;
  line-height: 36px;
}
.head_login {
  background-color: #1d6d7d;
  color: #ffffff;
}
.btn_group {
  position: fixed;
  top: 290px;
  right: 0;
  z-index: 998;
}
.menu_home{
  z-index: 999;
}

.bg_meaning {
  /* background-image: url('../../assets/image/bg_meaning2.jpg'); */
  /* background-size: cover;
    background-position: center center; */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.45) 100%
  );
  border-radius: 0px 242.5px 0px 0px;
  width: 620px;
  min-height: 550px;

  /* font-family: 'sukhumvit_setsemi_bold'; */
  /* text-shadow: 2px -8px 4px #ffffff; */
  /* font-size: 22px; */
  /* padding: 10px; */
  /* height: 100%; */
}
.btn-navi {
  border: 1px solid gray;
  box-shadow: 5px -5px 10px grey;
}
.title_research {
  font-family: "sukhumvit_setsemi_bold";
  font-size: 20px;
}
.title_type {
  font-family: "sukhumvit_setsemi_bold";
  font-size: 18px;
  margin-top: 10px;
}
.title_meaning {
  font-family: "sukhumvit_setlight";
  font-size: 18px;
  color: #000000;
  line-height: 32px;
   /* overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box; 
   -webkit-line-clamp: 1;  */
   /* number of lines to show */
   /* -webkit-box-orient: vertical; */

   /* display: block;or inline-block */
  /* text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 20em; */
  /* overflow: hidden;
  box-sizing: content-box;
 
  max-lines: 3; */
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden; */
  
 

}
.top_history {
  color: #332200;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

  background: linear-gradient(to bottom right, #ffff66 11%, #ff9933 83%);
}
/* .bg_course {
    background-image: url("../../assets/image/course2.jpg");
    background-size: cover;
    padding: 40px 0;
    height: 100%;
    background-attachment: fixed;
  } */
.pic_calendar {
  min-height: 330px;
  min-width: 350px;
  /* border-radius: 0px 301px 0px 0px; */
}
/* vision */
.text_p {
  font-size: 20px;
  color: white;
}
.col-bg-vision {
  background-image: url(https://i.pinimg.com/originals/d0/3b/dd/d03bdd70f8b042dfc590237bde046f64.jpg);
  background-position: center top;
  border-radius: 0px 0px 212px 0px;
}
.icon-mission-list > .v-list-item__icon:first-child {
  margin-right: 10px;
}
.style-popularity-first {
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  color: #1d6d7d;
  text-shadow: 0px 4px 4px #1d6d7d;
}
.header-vision {
  color: #1d6d7d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:100;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 100';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:200;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_thin.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_thin.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 200';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_thin.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:300;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 300';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:500;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_medium.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_medium.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 500';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_medium.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:600;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 600';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:700;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 700';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:800;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_heavy.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_heavy.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 800';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_heavy.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:900;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_black.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_black.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 900';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_black.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:400;
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.eot");
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:100;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:100;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 100';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:200;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:200;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 200';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:300;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:300;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 300';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:400;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:500;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:500;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 500';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:600;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:600;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 600';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:700;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:700;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 700';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:800;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:800;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 800';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:900;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:900;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 900';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:400;
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.eot");
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Icons';
  font-style:normal;
  font-weight:300;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Icons 300';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Icons';
  font-style:normal;
  font-weight:500;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Icons 500';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Icons';
  font-style:normal;
  font-weight:400;
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.eot");
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}