<template>
  <div class="" style="position: relative; z-index: 10; background-color: ;">
    <v-footer padless class="bg_Recommended_Product_home">
      <v-col cols="12" class=" pa-0 " style="background-color: ;">
        <!-- content -->
        <v-row class="mx-16" justify="center" align="center" style="">
          <v-col cols="5" class=" mr-2" style="top:-80px">
            <v-card
              elevation="10"
              height="480px"
              width=""
              class="pa-10"
              style="border-radius:15px; "
            >
              <v-card-title
                class=" font-weight-bold mb-10"
                style="font-size: xxx-large;"
              >
                Contact Us
              </v-card-title>
              <v-card-text class=" font-weight-bold subtitle-2" style="width: 400px; ">
                INET Co. Ltd. |อาคารวิจัยวิศวกรรมประยุกต์สิรินธร ชั้น 5 เลขที่
                15 ถ.กาญจนวณิชย์ ต.คอหงส์ อ.หาดใหญ่ จ.สงขลา 90112
              </v-card-text>
              <v-card-text class=" font-weight-bold">
                E-mail :
                <span class="font-weight-bold" style="color:#eebe1a; ">
                  recruitment@inet.co.th
                </span>
              </v-card-text>
              <v-card-text class=" font-weight-bold">
                Tel: 0 2257 7000
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="5" class="ml-2" style="top:-80px">
            <v-card
              elevation="10"
              height="480px"
              width=""
              class="d-flex justify-center align-center"
              style="border-radius:15px;"
            >
              <v-card class="" height="340px" width="420px">
                <longdo-map :zoom="10" :lastView="false">
                  <longdo-map-marker
                    v-for="(item, i) in markers"
                    :key="i"
                    :location="item.location"
                    :title="item.title"
                    :detail="item.detail"
                  />
                </longdo-map>
              </v-card>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" class="pa-0 white">
        <v-card-title
          class="font-weight-regular "
          style="place-content: center; font-size:small; color: #BDBDBD;"
        >
          All copyrights reserved ©
          {{ new Date().getFullYear() }}
          : Designed & Developed by ©CS
        </v-card-title>
      </v-col>
    </v-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      markers: [
        {
          location: { lon: 100.58, lat: 13.761 },
          title: "Vue Marker",
          detail: "This is a detail",
        },
      ],
    };
  },
};
</script>
