<template>
<div>
    <HomeSection1></HomeSection1>
    <HomeSection2></HomeSection2>
    <HomeSection3></HomeSection3>
    <HomeSection4></HomeSection4>
    
</div>
</template>

<script>
import HomeSection1 from "../components/HomePage/HomePageSection1.vue";
import HomeSection2 from "../components/HomePage/HomePageSection2.vue";
import HomeSection3 from "../components/HomePage/HomePageSection3.vue";
import HomeSection4 from "../components/HomePage/HomePageSection4.vue";
export default {
    name: 'Homepage',
    components: {
       HomeSection1,
       HomeSection2,
       HomeSection3,
       HomeSection4
    },
    data: () => ({

    }),
    methods:{

    }
}
</script>
<style>

</style>