<template>
  <div>
    <v-app-bar
      fixed
      flat
      prominent
      :style="
        this.scrollPosition > 100
          ? 'background-image: linear-gradient(to right, #01b97a,  #01b907); z-index:20'
          : 'background-color:transparent; z-index:20'
      "
      color="transparent"
      fade-img-on-scroll
      scroll-threshold="100"
      height="80%"
    >
      <v-img
        class="mt-3 pointer"
        max-width="7.8%"
        max-height="100%"
        @click="
          pathname == '/Homepage' ? $vuetify.goTo(0) : $router.push('/Homepage')
        "
        style="position: relative; left: 2%; z-index: 2"
        src="../assets/img/Logo/Logo_inet.png"
      ></v-img>
      <v-spacer></v-spacer>

      <v-text-field
        v-model="search"
        class="button_radius mt-3"
        label="What are you looking for?"
        prepend-inner-icon="mdi-magnify"
        style="border: 1px solid grey"
        flat
        input-no-value-style
        solo
        hide-details
        clearable
        clear-icon="mdi-close-circle-outline"
      ></v-text-field>

      <v-btn-toggle
        class="ml-5"
        v-model="text"
        tile
        group
        color="white"
        :class="$vuetify.breakpoint.smOnly ? 'py-2' : 'py-2 pr-3'"
      >
        <v-btn
          class="mr-2 ml-2"
          @click="$router.push('/Homepage')"
          text
          style="
            font-size: 16px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          "
        >
          <h6 class="app_bar_text_weight mt-2 white--text">Home</h6>
        </v-btn>
        <v-divider class="mb-2 mr-1" color="white" inset vertical></v-divider>

        <v-btn
          class="mr-2 ml-2"
          @click="$router.push('/Shop')"
          style="font-size: 16px; border-radius: 10px"
        >
          <h6 class="app_bar_text_weight mt-2 white--text">Shop</h6>
        </v-btn>
        <v-divider class="mb-2 mr-1" color="white" inset vertical></v-divider>
        <v-btn
          class="mr-2 ml-2"
          @click="$router.push('/Solutions')"
          style="font-size: 16px; border-radius: 10px"
        >
          <h6 class="app_bar_text_weight mt-2 white--text">Solution</h6>
        </v-btn>
        <v-divider class="mb-2 mr-1" color="white" inset vertical></v-divider>

        <v-btn
          class="mr-2 ml-2"
          @click="$router.push('/News')"
          style="font-size: 16px; border-radius: 10px"
        >
          <h6 class="app_bar_text_weight mt-2 white--text">NEWS</h6>
        </v-btn>

        <v-divider class="mb-2 mr-1" color="white" inset vertical></v-divider>

        <v-btn
          class="mr-2 ml-2"
          @click="$router.push('/AboutUS')"
          style="
            font-size: 16px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          "
        >
          <h6 class="app_bar_text_weight mt-2 white--text">About US</h6>
        </v-btn>
      </v-btn-toggle>

      <v-flax>
        <div class="mr-5 mt-3" dark tile group mandatory>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon class="" color="white" v-bind="attrs" v-on="on">
                <v-icon size="32px" color="white"> mdi-cart </v-icon>
              </v-btn>
            </template>
            <span>Store</span>
          </v-tooltip>
          <v-tooltip bottom v-if="this.username_login === ''">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                class=""
                color="white"
                v-bind="attrs"
                v-on="on"
                @click="openDialogLogin()"
              >
                <v-icon
                  size="32px"
                  :outlined="status == 'onlight' ? false : true"
                  :color="status == 'onlight' ? 'black' : 'white'"
                >
                  mdi-account-circle</v-icon
                >
              </v-btn>
            </template>
            <span>Login</span>
          </v-tooltip>

          <v-menu
            offset-y
            :close-on-content-click="closeOnContentClick"
            rounded="rounded"
            v-if="this.username_login != ''"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon class="" color="white" v-bind="attrs" v-on="on">
                <v-avatar size="40">
                  <img
                    src="https://cdn.vuetifyjs.com/images/john.jpg"
                    alt="John"
                  />
                </v-avatar>
              </v-btn>
            </template>
            <v-list width="180px">
              <v-card-title class="font-weight-bold" height="10px"
                >Profile</v-card-title
              >

              <v-list-item>
                <v-list-item-content>
                  <v-card
                    :outlined="status == 'onlight' ? false : true"
                    :color="status == 'onlight' ? 'blue' : 'white'"
                    @click="click_light()"
                    flat
                    style="border-radius: 20px"
                    v-if="$vuetify.theme.dark === true"
                  >
                    <v-row class="truncate" align="center" justify="center">
                      <v-col>
                        <v-list-item-title
                          class="Subtitle 2 black--text font-weight-black ml-5"
                          >Light</v-list-item-title
                        >
                      </v-col>
                      <v-col>
                        <v-icon size="32px" class="ml-2" color="black"
                          >mdi-weather-sunny</v-icon
                        >
                      </v-col>
                    </v-row>
                  </v-card>
                </v-list-item-content>
                <v-list-item-content class="ml-2"> </v-list-item-content>
              </v-list-item>
              <v-divider class="mx-5 mt-2"></v-divider>
              <v-card-title class="font-weight-bold" height="10px"
                >Language</v-card-title
              >

              <v-list-item three-line>
                <v-list-item-content class="">
                  <v-card outlined color="dark" style="border-radius: 20px">
                    <v-row class="truncate" align="center" justify="center">
                      <v-col>
                        <v-list-item-title
                          class="Subtitle 2 dark--text font-weight-black ml-5"
                          >EN
                        </v-list-item-title>
                      </v-col>
                      <v-col>
                        <v-avatar size="36">
                          <img
                            class="ml-2 mr-3"
                            src="../assets/img/usa_icon.png"
                            size="12px"
                          />
                        </v-avatar>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-list-item-content>
                <v-list-item-content class="ml-2">
                  <v-card outlined class="dark" style="border-radius: 20px">
                    <v-row class="truncate" align="center" justify="center">
                      <v-col>
                        <v-list-item-title
                          class="Subtitle 2 dark--text font-weight-black ml-5"
                          >TH
                        </v-list-item-title>
                      </v-col>
                      <v-col>
                        <v-avatar size="36">
                          <img
                            class="ml-2 mr-3"
                            src="../assets/img/th_icon.png"
                            size="12px"
                          />
                        </v-avatar>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>

          <v-menu
            offset-y
            :close-on-content-click="closeOnContentClick"
            rounded="rounded"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon class="" color="white" v-bind="attrs" v-on="on">
                <v-icon
                  size="32px"
                  :outlined="status == 'onlight' ? false : true"
                  :color="status == 'onlight' ? 'black' : 'white'"
                >
                  mdi-cog
                </v-icon>
              </v-btn>
            </template>
            <v-list width="340px">
              <v-card-title class="font-weight-bold" height="10px"
                >Theme</v-card-title
              >

              <v-list-item>
                <v-list-item-content>
                  <v-card
                    :outlined="status == 'onlight' ? false : true"
                    :color="status == 'onlight' ? 'blue' : 'white'"
                    @click="click_light()"
                    flat
                    style="border-radius: 20px"
                    v-if="$vuetify.theme.dark === false"
                  >
                    <v-row class="truncate" align="center" justify="center">
                      <v-col>
                        <v-list-item-title
                          class="Subtitle 2 white--text font-weight-black ml-5"
                          >Light</v-list-item-title
                        >
                      </v-col>
                      <v-col>
                        <v-icon size="32px" class="ml-2" color="white"
                          >mdi-weather-sunny</v-icon
                        >
                      </v-col>
                    </v-row>
                  </v-card>

                  <v-card
                    :outlined="status == 'onlight' ? false : true"
                    :color="status == 'onlight' ? 'blue' : 'white'"
                    @click="click_light()"
                    flat
                    style="border-radius: 20px"
                    v-if="$vuetify.theme.dark === true"
                  >
                    <v-row class="truncate" align="center" justify="center">
                      <v-col>
                        <v-list-item-title
                          class="Subtitle 2 black--text font-weight-black ml-5"
                          >Light</v-list-item-title
                        >
                      </v-col>
                      <v-col>
                        <v-icon size="32px" class="ml-2" color="black"
                          >mdi-weather-sunny</v-icon
                        >
                      </v-col>
                    </v-row>
                  </v-card>
                </v-list-item-content>
                <v-list-item-content class="ml-2">
                  <v-card
                    content-class="round"
                    style="border-radius: 20px"
                    class="black"
                    :outlined="status == 'onDark' ? false : true"
                    :color="status == 'onDark' ? 'blue' : 'dark'"
                    @click="click_dark()"
                    v-model="$vuetify.theme.dark"
                    flat
                  >
                    <v-row class="truncate" align="center" justify="center">
                      <v-col>
                        <v-list-item-title
                          class="Subtitle 2 white--text font-weight-black ml-5"
                          >Dark</v-list-item-title
                        >
                      </v-col>
                      <v-col>
                        <v-icon size="32px" class="ml-2" color="white"
                          >mdi-weather-night</v-icon
                        >
                      </v-col>
                    </v-row>
                  </v-card>
                </v-list-item-content>
              </v-list-item>
              <v-divider class="mx-5 mt-2"></v-divider>
              <v-card-title class="font-weight-bold" height="10px"
                >Language</v-card-title
              >

              <v-list-item three-line>
                <v-list-item-content class="">
                  <v-card outlined color="dark" style="border-radius: 20px">
                    <v-row class="truncate" align="center" justify="center">
                      <v-col>
                        <v-list-item-title
                          class="Subtitle 2 dark--text font-weight-black ml-5"
                          >EN
                        </v-list-item-title>
                      </v-col>
                      <v-col>
                        <v-avatar size="36">
                          <img
                            class="ml-2 mr-3"
                            src="../assets/img/usa_icon.png"
                            size="12px"
                          />
                        </v-avatar>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-list-item-content>
                <v-list-item-content class="ml-2">
                  <v-card outlined class="dark" style="border-radius: 20px">
                    <v-row class="truncate" align="center" justify="center">
                      <v-col>
                        <v-list-item-title
                          class="Subtitle 2 dark--text font-weight-black ml-5"
                          >TH
                        </v-list-item-title>
                      </v-col>
                      <v-col>
                        <v-avatar size="36">
                          <img
                            class="ml-2 mr-3"
                            src="../assets/img/th_icon.png"
                            size="12px"
                          />
                        </v-avatar>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </v-flax>
    </v-app-bar>
    <DialogLogin ref="dialog_login" @show_login_btn="show_login"></DialogLogin>

    <router-view></router-view>

    <Footer class="mt-0" ref="Footer" footer></Footer>
  </div>
</template>

<script>
import DialogLogin from "../components/DialogLogin.vue";
import Footer from "../views/Footer.vue";

export default {
  components: {
    DialogLogin,
    Footer,
  },
  data() {
    return {
      scrollPosition: null,
      status: "onlight",
      closeOnContentClick: false,
      drawer: false,
      clicked: false,
      group: null,
      pathname: window.location.pathname,
      solution_menu: [
        { title: "Board", path: "/SolutionsBoard", show: true },
        { title: "Hardware", path: "/SolutionsHardware", show: true },
      ],
      // pathname: window.location.pathname,
      username: "",
      password: "",
      text: "",
      menu: false,
      password: "",
      // permission: this.$session.get("permission"),
      rule_password: [(v) => !!v || "กรุณากรอกรหัสผ่าน"],
      rule_username: [(v) => !!v || "กรุณากรอกชื่อผู้ใช้"],
      // show_login: true,
      text: "",
      username_login: "",
    };
  },
  computed: {},
  watch: {
    group() {
      this.drawer = false;
    },
    "$route.path"(val) {
      this.pathname = val;
      switch (val) {
        case "/Homepage":
          this.text = 0;
          break;
        case "/Shop":
          this.text = 1;
          break;
        case "/Solutions":
          this.text = 2;
          break;
        case "/News":
          this.text = 3;
          break;
        case "/AboutUS":
          this.text = 4;
          break;
        default:
          this.text = 0;
          break;
      }
    },
  },
  created() {
    switch (this.$route.path) {
      case "/Homepage":
        this.text = 0;
        break;
      case "/Shop":
        this.text = 1;
        break;
      case "/Solutions":
        this.text = 2;
        break;
      case "/News":
        this.text = 3;
        break;
      case "/AboutUS":
        this.text = 4;
        break;
      default:
        this.text = 0;
        break;
    }
    this.set_defult_mode_dark();
    this.get_save_dark_mode();
    this.GET_DATA_USER_LOGIN();
  },
  mounted() {
    window.addEventListener("scroll", this.updateScroll);
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
    openDialogLogin() {
      this.$refs.dialog_login.openlogin();
    },
    openDialogResetPassword() {
      this.$refs.dialog_reset.openDialogResetPassword();
    },
    set_defult_mode_dark() {
      if (this.status === "onlight") {
        this.$vuetify.theme.dark = false;
      } else {
        this.$vuetify.theme.dark = true;
      }
    },
    click_dark() {
      var status = "onDark";
      this.$vuetify.theme.dark = true;
      this.save_dark_mode(status);
    },
    click_light() {
      var status = "onlight";
      this.$vuetify.theme.dark = false;
      this.save_dark_mode(status);
    },
    reset() {
      setTimeout(() => {
        this.$refs.loginform.reset();
        this.$refs.loginform.resetValidation();
      }, 200);
    },
    goPage(path) {
      this.$router.push(path);
    },
    save_dark_mode(status_mode) {
      console.log(status_mode);
      window.localStorage.setItem("status_mode", JSON.stringify(status_mode));
    },
    get_save_dark_mode() {
      let data = JSON.parse(window.localStorage.getItem("status_mode"));
      this.status = data;
    },
    GET_DATA_USER_LOGIN() {
      let data = JSON.parse(window.localStorage.getItem("USER_LOGIN"));
      if (data === null) {
        this.username_login = "";
      } else {
        this.username_login = data;
      }
    },
  },
};
</script>
