<template>
  <div >

    <v-card-title class="font-weight-bold" height="10px">Theme</v-card-title>

    <v-list-item >
      <v-list-item-content>
        <v-card outlined elevation="4" @click="click_light()" flat>
        
            <v-row class="truncate" align="center" justify="center">
              <v-col>
                <v-list-item-title
                  class="Subtitle 2  font-weight-black ml-5"
                  >Light</v-list-item-title
                >
              </v-col>
              <v-col>
                <v-icon size="32px" class="ml-2">mdi-weather-sunny</v-icon>
              </v-col>
            </v-row>
        
        </v-card>
      </v-list-item-content>
      <v-list-item-content class="ml-2">
        <v-card outlined elevation="4" class="black" @click="click_dark()" flat>
       
            <v-row class="truncate" align="center" justify="center">
              <v-col>
                <v-list-item-title
                  class="Subtitle 2 white--text font-weight-black ml-5"
                  >Dark</v-list-item-title
                >
              </v-col>
              <v-col>
                <v-icon size="32px" class="ml-2" color="white">mdi-weather-night</v-icon>
              </v-col>
            </v-row>
        
        </v-card>
      </v-list-item-content>
    </v-list-item>
    <v-divider class="mx-5 mt-2"></v-divider>
    <v-card-title class="font-weight-bold" height="10px">Language</v-card-title>

    
    <v-list-item three-line>
      <v-list-item-content class="">
        <v-card outlined elevation="4" color="dark" >
         
            <v-row class="truncate" align="center" justify="center">
              <v-col>
                <v-list-item-title
                  class="Subtitle 2  dark--text font-weight-black ml-5"
                  >EN
                  </v-list-item-title>
              </v-col>
            <v-col>
                <v-avatar>
      <img
      class="ml-2 mr-3"
        src="../assets/img/usa_icon.png"
        size="12px"
      >
    </v-avatar>
              </v-col>
            </v-row>
      
        </v-card>
      </v-list-item-content>
      <v-list-item-content class="ml-2">
        <v-card outlined elevation="4" class="dark">
         
            <v-row class="truncate" align="center" justify="center">
              <v-col>
                <v-list-item-title
                  class="Subtitle 2 dark--text font-weight-black ml-5"
                  >TH
                  </v-list-item-title>
       </v-col>
        <v-col>
                <v-avatar>
      <img
      class="ml-2 mr-3"
        src="../assets/img/th_icon.png"
        size="12px"
      >
    </v-avatar>
              </v-col>
            </v-row>
  
        </v-card>
      </v-list-item-content>
    </v-list-item>
  </div>
</template>
<script>
export default {
  data: () => ({
    drawer: false,
    group: null,
  }),

  watch: {
    group() {
      this.drawer = false;
    },
  },
  methods:{
    click_dark(){
      this.$vuetify.theme.dark = true;
      this.drawer = false
    },
    click_light(){
      this.$vuetify.theme.dark = false;
    }
  }
};
</script>