<template>
<div style="position: relative; z-index: 10; background-color: #ffffff;">
  <v-footer padless class="black">
    <v-row
      class="pt-16"
      align="center"
      justify="center"
      style="background-color: ; "
    >
      <v-col cols="2" class="pb-16 ">
        <v-img height="" src="@/assets/img/Picture_footer/mg.png" style="">
        </v-img>
      </v-col>
      <v-col cols="5" class="pb-16 ">
        <v-card-title>
          <p
            class="ms-16  white--text pb-0 font-weight-bold"
            style="font-size: xxx-large;"
          >
            Contact Us
          </p>
        </v-card-title>
        <v-card-text
          class="ms-16 mt-3 pb-0 white--text font-weight-bold"
          style="width: 460px;"
        >
          INET Co. Ltd. |อาคารวิจัยวิศวกรรมประยุกต์สิรินธร ชั้น 5 
          เลขที่ 15 ถ.กาญจนวณิชย์ ต.คอหงส์ อ.หาดใหญ่ จ.สงขลา 90112
        </v-card-text>
        <v-card-text class="ms-16 white--text pb-0 font-weight-bold">
          E-mail :
          <span class="font-weight-bold" style="color:#eebe1a; ">
            recruitment@inet.co.th
          </span>
        </v-card-text>
        <v-card-text class="ms-16 white--text pb-0 font-weight-bold">
          Tel: 0  2257  7000 
        </v-card-text>
      </v-col>
      <v-col cols="5" class="pb-16">
        <div class="me-16">
          <v-card class="" style="height:320px;">
            <longdo-map :zoom="10" :lastView="false">
              <longdo-map-marker
                v-for="(item, i) in markers"
                :key="i"
                :location="item.location"
                :title="item.title"
                :detail="item.detail"
              />
            </longdo-map>
          </v-card>
        </div>
      </v-col>
      <v-col cols="12" class="pa-0">
        <v-divider class="grey darken-3"></v-divider>

        <v-card-title
          class="font-weight-regular "
          style="place-content: center; font-size:small; color: #BDBDBD;"
        >
          All copyrights reserved ©
          {{ new Date().getFullYear() }}
          : Designed & Developed by ©CS
        </v-card-title>
      </v-col>
    </v-row>
  </v-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      markers: [
        {
          location: { lon: 100.58, lat: 13.761 },
          title: "Vue Marker",
          detail: "This is a detail",
        },
      ],
    };
  },
};
</script>
