<template>
    <div>
        <v-card flat class="pb-5" style="border-radius: 20px"       >
          <v-card-title
            class="display-1 pt-8 pl-10 mb-5 font-weight-black pa-0"
            style=""
          >
            Business
          </v-card-title>
          <h3
            class=""
            height="10px"
            style="
              width: 170px;
              height: 7px;
              margin-left: -45px;
              margin-top: -10px;
              background-color: #01b978;
            "
          ></h3>

          <v-row align="center" justify="center">
              <v-col class="pa-0" cols="6">
          <div id="app">
            <agile
              class="main"
              ref="main"
              :options="options1"
              :as-nav-for="asNavFor1"
            >
              <div
                class="slide"
                v-for="(slide, index) in slides"
                :key="index"
                :class="`slide--${index}`"
              >
                <img :src="slide" />
              </div>
            </agile>
            <agile
              class="thumbnails"
              ref="thumbnails"
              :options="options2"
              :as-nav-for="asNavFor2"
            >
              <div
                class="slide slide--thumbniail"
                v-for="(slide, index) in slides"
                :key="index"
                :class="`slide--${index}`"
                @click="$refs.thumbnails.goTo(index)"
              >
                <img :src="slide" />
              </div>
            </agile>
          </div>
        </v-col>
            <v-col cols="6">
              <v-card-title
                class="display-1 pt-6 pl-5 font-weight-black pa-0"
                style=""
              >
                Solution For Business
              </v-card-title>
              <h3
                class="mt-3 mb-10"
                height="10px"
                style="
                  width: 170px;
                  height: 7px;
                  margin-left: -30px;
                  margin-top: -10px;
                  background-color: #01b978;
                "
              ></h3>
              <v-row
                class="pa-0 pl-4"
                align="left"
                justify="left"
                v-for="items in header_solution"
                :key="items"
              >
                <v-col class="pa-0" cols="10">
                  <v-card-title
                    class="pointer title pl-5 pa-0 hover_color"
                    style=""
                    @click="click_srcolling(items)"
                  >
                    {{ items.title }}
                    <v-icon class="mt-0 ml-5 hover_color"  >mdi-chevron-down</v-icon>
                  </v-card-title>
                  <v-divider class="mx-auto"></v-divider>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
           
        
          <v-row
        class="pointer px-8 pb-7 hover_img_solution hover_btn_solution_bus"
        @click="click_seesolution(items)"
        :id="items.id"
        align="center"
        justify="center"
        v-for="items in all_solution"
        :key="items"
      >
        <v-col cols="7" class="pb-2">
          <v-card-title
            class="display-1 pt-10 pl-10 font-weight-black pa-0"
            style=""
          >
            {{ items.title }}
          </v-card-title>
          <h3
            class="mt-2"
            style="
              width: 170px;
              height: 7px;
              margin-left: -25px;
              margin-top: -10px;
              background-color: #01b978;
            "
          ></h3>
          <v-row class="pa-0 pl-4" align="center" justify="center">
            <v-col class="pa-0" cols="11" align="left">
              <v-card class="pt-2" flat>
                <v-card-title class="title pl-4 pa-0 hover_color_bus" style="">
                  {{ items.header }}
                </v-card-title>
                <v-card-text class="subtitle-1 pt-3 hover_color_bus">
                  {{ items.text }}
                </v-card-text>
              </v-card>

              <v-divider class="mx-auto"></v-divider>

              <v-card class="ml-5" flat>
              
                   <b-button
                  class="mt-3 "
                  style="width: 170px; height: 40px"
                  pill
                  variant="outline-success"
                  @click="click_seesolution(items)"
                  >Get Solutions
                </b-button>
                
              </v-card>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="5" align="left">
          <img
            class=" mx-auto pb-6"
            max-width="80%"
            width="85%"
            max-height="100%"
            style="position: relative; z-index: 2"
            :src="items.src"
          />
        </v-col>
      </v-row>
        </v-card>
    </div>
</template>
<script>

export default {
  components: {
  },
  data() {
    return {
      picture_header:[
        {
          src: require("@/assets/img/Picture_solution/Business.jpg"),
        }
      ],
      header_solution: [
        {
          title: "Building Management System",
        },
        {
          title: "AI Object Detection",
        },
      ],
      all_solution: [
        {
           id:"Business_1",
           title:"Building Management System",
           header: "Time Attendance Platform  Face Recognition & Human Temperature Terminal",
           text:"ระบบลงเวลาเข้า-ออกด้วยการตรวจจับใบหน้าและอุณหภูมิรายบุคคล พร้อมทั้งควบคุมการเปิด-ปิดประตูตามเงื่อนไขที่ตั้งไว้ มีการออกรายงาน และแจ้งเตือนทางแชทเมื่อพบบุคคลเฝ้าระวังหรืออุณหภูมิสูง",
           src:require("@/assets/img/Picture_solution/Business/BuildingManagementSystem.png"),
        },
         {
           id:"Business_2",
           title: "AI Object Detection",
           header: "Customer Identified Detection ",
           text:"เป็นระบบตรวจสอบประชากรในพื้นที่โดยเป็นการนำภาพถ่ายจากกล้องวงจรปิด หลังจากนั้น AI จะทำการวิเคราะห์ในเรื่องของ ตัวตน, เพศ, จำนวน, อายุ และวัตถุอันตราย เพื่อทำการเก็บข้อมูลไว้เพื่อวิเคราะห์พฤติกรรมของประชากร",
           src:require("@/assets/img/Picture_solution/Business/AIObjectDetection.png"),
        },
      ],
      asNavFor1: [],
      asNavFor2: [],
      options1: {
        dots: false,
        fade: true,
        navButtons: false,
      },

      options2: {
        autoplay: true,
        centerMode: true,
        dots: false,
        navButtons: false,
        slidesToShow: 3,
        responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 5,
            },
          },

          {
            breakpoint: 1000,
            settings: {
              navButtons: true,
            },
          },
        ],
      },

      slides: [
        require("@/assets/img/Picture_solution/Business/BuildingManagementSystem.png"),
        require("@/assets/img/Picture_solution/Business/AIObjectDetection.png"),
      ],
    };
  },
  mounted() {
    this.asNavFor1.push(this.$refs.thumbnails);
    this.asNavFor2.push(this.$refs.main);
  },
  methods: {
    click_srcolling(items){
       var items = items.title;

      if (items === "Building Management System") {
        var scroll_id_View = document.getElementById("Business_1");
        scroll_id_View.scrollIntoView();
      } else if (items === "AI Object Detection") {
        var scroll_id_View = document.getElementById("Business_2");
        scroll_id_View.scrollIntoView();
      }
    },
    click_seesolution(items) {
      console.log(items);
    },
  },
  
};
</script>

<style>
.hover_color_bus:hover,
.hover_color_bus:active {
  color: #01b978;
}
html {
  scroll-behavior: smooth;
}
.hover_btn_solution_bus {
  /* height: 250px; */
  overflow: hidden;
  margin: 0 auto;
}
.hover_btn_solution_bus button {
  width: 85%;
  transition: 0.3s all ease-in-out;
}
.hover_btn_solution_bus:hover button {
  transform: scale(1.2);
  background-color: green;
  color: white;

}
</style>
<style lang="sass" scoped>
#app
  font-family: 'Lato', sans-serif
  font-weight: 300
  margin: 0 auto
  max-width: 800px
  padding-left: 40px
  padding-right: 30px

.main
  margin-bottom: 30px
.thumbnails
  margin: 0 -5px
  width: calc(100% + 10px)

// Basic VueAgile styles
.agile
  &__nav-button
    background: transparent
    border: none
    color: #ccc
    cursor: pointer
    font-size: 24px
    transition-duration: .3s

    .thumbnails &
      position: absolute
      top: 50%
      transform: translateY(-50%)

      &--prev
        left: -45px

      &--next
        right: -45px

    &:hover
      color: #888

  &__dot
    margin: 0 10px

    button
      background-color: #eee
      border: none
      border-radius: 50%
      cursor: pointer
      display: block
      height: 10px
      font-size: 0
      line-height: 0
      margin: 0
      padding: 0
      transition-duration: .3s
      width: 10px

    &--current,
    &:hover
      button
        background-color: #888

// Slides styles	
.slide
  align-items: center
  box-sizing: border-box
  color: #fff
  display: flex
  padding: auto
  height: 100%
  justify-content: center

  &--thumbniail
    cursor: pointer
    height: 100px
    padding: 0 5px
    transition: opacity .3s

    &:hover
      opacity: .75

  img
    height: 100%
    margin-top: 5%
    padding-top: 5%
    object-fit: cover
    object-position: center
    width: 100%
</style>
