<template>
  <div>
    <v-card flat class="pb-5 mb-10" style="border-radius: 20px">
      <v-card-title
        class="display-1 pt-8 pl-10 mb-5 font-weight-black pa-0"
        style=""
      >
        Education
      </v-card-title>
      <h3
        class=""
        height="10px"
        style="
          width: 170px;
          height: 7px;
          margin-left: -45px;
          margin-top: -10px;
          background-color: #005ce6;
        "
      ></h3>

      <v-row  align="center" justify="center">
        <v-col class="pa-0" cols="6">
          <div id="app">
            <agile
              class="main"
              ref="main"
              :options="options1"
              :as-nav-for="asNavFor1"
            >
              <div
                class="slide"
                v-for="(slide, index) in slides"
                :key="index"
                :class="`slide--${index}`"
              >
                <img :src="slide" />
              </div>
            </agile>
            <agile
              class="thumbnails"
              ref="thumbnails"
              :options="options2"
              :as-nav-for="asNavFor2"
            >
              <div
                class="slide slide--thumbniail"
                v-for="(slide, index) in slides"
                :key="index"
                :class="`slide--${index}`"
                @click="$refs.thumbnails.goTo(index)"
              >
                <img :src="slide" />
              </div>
            </agile>
          </div>
        </v-col>
        <v-col cols="6">
          <v-card-title
            class="display-1 pt-6 pl-5 font-weight-black pa-0"
            style=""
          >
            Learning solution For Education
          </v-card-title>
          <h3
            class="mt-3 mb-10"
            height="10px"
            style="
              width: 170px;
              height: 7px;
              margin-left: -30px;
              margin-top: -10px;
              background-color: #005ce6;
            "
          ></h3>
          <v-row
            class="pa-0 pl-4"
            align="left"
            justify="left"
            v-for="items in header_solution"
            :key="items"
          >
            <v-col class="pa-0 hover_color_edu" cols="10" >
              <v-card-title
                class="pointer title pl-5 pa-0 "
                style=""
                @click="click_srcolling(items)"
              >
                {{ items.title }}
                <v-icon class="mt-0 ml-5 hover_color_edu">mdi-chevron-down</v-icon>
              </v-card-title>
              <v-divider class="mx-auto"></v-divider>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row
        class="pointer px-8 pb-7 hover_img_solution hover_btn_solution_edu"
        @click="click_seesolution(items)"
        :id="items.id"
        align="center"
        justify="center"
        v-for="items in all_solution"
        :key="items"
      >
        <v-col cols="7" class="pb-2">
          <v-card-title
            class="display-1 pt-10 pl-10 font-weight-black pa-0"
            style=""
          >
            {{ items.title }}
          </v-card-title>
          <h3
            class="mt-2"
            style="
              width: 170px;
              height: 7px;
              margin-left: -25px;
              margin-top: -10px;
              background-color: #005ce6;
            "
          ></h3>
          <v-row class="pa-0 pl-4" align="center" justify="center">
            <v-col class="pa-0" cols="11" align="left">
              <v-card class="pt-2" flat>
                <v-card-title class="title pl-4 pa-0 hover_color_edu" style="">
                  {{ items.header }}
                </v-card-title>
                <v-card-text class="subtitle-1 pt-3 hover_color_edu">
                  {{ items.text }}
                </v-card-text>
              </v-card>

              <v-divider class="mx-auto"></v-divider>

              <v-card class="ml-5" flat>
              
                   <b-button
                  class="mt-3 "
                  style="width: 170px; height: 40px"
                  pill
                  variant="outline-primary"
                  @click="click_seesolution(items)"
                  >Get Solutions
                </b-button>
                
                
              </v-card>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="5" align="left">
          <img
            class=" mx-auto pb-6"
            max-width="80%"
            width="85%"
            max-height="100%"
            style="position: relative; z-index: 2"
            :src="items.src"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      picture_header: [
        {
          src: require("@/assets/img/Picture_solution/education/education.jpg"),
        },
      ],
      header_solution: [
        {
          title: "Kid Bright Creator",
        },
        {
          title: "Kid Bright Training by Davinci",
        },
        {
          title: "Kid Bright kidcamp by Davinci",
        },
        {
          title: "Board Kid Bright",
        },
        {
          title: "Kid Bright kit box",
        },
        {
          title: "Kid Bright Davinci 2.0",
        },
      ],
      all_solution: [
        {
          id: "education_1",
          title: "Kid Bright Creator",
          header: "อบรมหลักสูตร Kid Bright Creator",
          text:
            "หลักสูตรเพิ่มทักษะด้านวิทยาการคำนวณ ที่ให้น้องๆ ได้สนุกสนานไปกับการฝึกเขียน Coding ออกแบบชุดคำสั่งควบคุมการทำงานของบอร์ด Kid Bright ส่งเสริมให้น้องๆ ได้พัฒนาตามแนวทางการเรียนรู้ STEM หลักสูตรอบรม 4 วันเรียนวันเสาร์ที่ 8, 15, 22 และ 29 สิงหาคม 2563 เปิดอบรมวันละ 2 รอบ รอบเช้า : 9:00 น. - 12:00 น.รอบบ่าย : 13:00 น. - 16:00 น.",
          src: require("@/assets/img/Picture_solution/education/kid bright creator.png"),
        },
        {
          id: "education_2",
          title: "Kid Bright Training by Davinci",
          header: "อบรมหลักสูตร Kid Bright Creator",
          text:
            "หลักสูตรเพิ่มทักษะด้านวิทยาการคำนวณ ที่ให้น้องๆ ได้สนุกสนานไปกับการฝึกเขียน Coding ออกแบบชุดคำสั่งควบคุมการทำงานของบอร์ด Kid Bright ส่งเสริมให้น้องๆ ได้พัฒนาตามแนวทางการเรียนรู้ STEM หลักสูตรอบรม 4 วันเรียนวันเสาร์ที่ 8, 15, 22 และ 29 สิงหาคม 2563 เปิดอบรมวันละ 2 รอบ รอบเช้า : 9:00 น. - 12:00 น.รอบบ่าย : 13:00 น. - 16:00 น.",
          src: require("@/assets/img/Picture_solution/education/kidtraning.jpg"),
        },
        {
          id: "education_3",
          title: "Kid Bright kidcamp by Davinci",
          header: "อบรมหลักสูตร Kid Bright Creator",
          text:
            "หลักสูตรเพิ่มทักษะด้านวิทยาการคำนวณ ที่ให้น้องๆ ได้สนุกสนานไปกับการฝึกเขียน Coding ออกแบบชุดคำสั่งควบคุมการทำงานของบอร์ด Kid Bright ส่งเสริมให้น้องๆ ได้พัฒนาตามแนวทางการเรียนรู้ STEM หลักสูตรอบรม 4 วันเรียนวันเสาร์ที่ 8, 15, 22 และ 29 สิงหาคม 2563 เปิดอบรมวันละ 2 รอบ รอบเช้า : 9:00 น. - 12:00 น.รอบบ่าย : 13:00 น. - 16:00 น.",
          src: require("@/assets/img/Picture_solution/education/kidcamp.jpg"),
        },
        {
          id: "education_4",
          title: "Board Kid Bright",
          header: "อบรมหลักสูตร Kid Bright Creator",
          text:
            "เซนเซอร์วัดอุณหภูม,ิ เซนเซอร์วัดแสง,ช่องรับไฟฟ้าจากแหล่งจ่ายไฟ,ลำโพง, ช่องเชื่อมต่อกับ chain,ช่องเสียบสาย USB,ปุ่มรีเซต,ปุ่ม 1, ปุ่ม 2,จอแสดงผล LED, ช่องเชื่อมต่อกราวด์,ช่อง output ควบคุมอุปกรณ์ภายนอก,ช่อง input เชื่อมต่อเซนเซอร์,ช่องจ่ายไฟให้อุปกรณ์ต่างๆ",
          src: require("@/assets/img/Picture_solution/education/KidBright .jpg"),
        },
        {
          id: "education_5",
          title: "Kid Bright kit box",
          header: "อบรมหลักสูตร Kid Bright Creator",
          text:
            "หลักสูตรเพิ่มทักษะด้านวิทยาการคำนวณ ที่ให้น้องๆ ได้สนุกสนานไปกับการฝึกเขียน Coding ออกแบบชุดคำสั่งควบคุมการทำงานของบอร์ด Kid Bright ส่งเสริมให้น้องๆ ได้พัฒนาตามแนวทางการเรียนรู้ STEM หลักสูตรอบรม 4 วันเรียนวันเสาร์ที่ 8, 15, 22 และ 29 สิงหาคม 2563 เปิดอบรมวันละ 2 รอบ รอบเช้า : 9:00 น. - 12:00 น.รอบบ่าย : 13:00 น. - 16:00 น.",
          src: require("@/assets/img/Picture_solution/education/kidbox.jpg"),
        },
        {
          id: "education_6",
          title: "Kid Bright Davinci 2.0",
          header: "อบรมหลักสูตร Kid Bright Creator",
          text:
            "หลักสูตรเพิ่มทักษะด้านวิทยาการคำนวณ ที่ให้น้องๆ ได้สนุกสนานไปกับการฝึกเขียน Coding ออกแบบชุดคำสั่งควบคุมการทำงานของบอร์ด Kid Bright ส่งเสริมให้น้องๆ ได้พัฒนาตามแนวทางการเรียนรู้ STEM หลักสูตรอบรม 4 วันเรียนวันเสาร์ที่ 8, 15, 22 และ 29 สิงหาคม 2563 เปิดอบรมวันละ 2 รอบ รอบเช้า : 9:00 น. - 12:00 น.รอบบ่าย : 13:00 น. - 16:00 น.",
          src: require("@/assets/img/Picture_solution/education/kidbrightdavinci.png"),
        },
      ],
      asNavFor1: [],
      asNavFor2: [],
      options1: {
        dots: false,
        fade: true,
        navButtons: false,
      },

      options2: {
        autoplay: true,
        centerMode: true,
        dots: false,
        navButtons: false,
        slidesToShow: 3,
        responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 5,
            },
          },

          {
            breakpoint: 1000,
            settings: {
              navButtons: true,
            },
          },
        ],
      },

      slides: [
        require("@/assets/img/Picture_solution/education/education.jpg"),
        require("@/assets/img/Picture_solution/education/kid bright creator.png"),
        require("@/assets/img/Picture_solution/education/kidtraning.jpg"),
        require("@/assets/img/Picture_solution/education/KidBright .jpg"),
        require("@/assets/img/Picture_solution/education/kidbox.jpg"),
      ],
    };
  },
  mounted() {
    this.asNavFor1.push(this.$refs.thumbnails);
    this.asNavFor2.push(this.$refs.main);
  },
  methods: {
    click_srcolling(items) {
      var items = items.title;

      if (items === "Kid Bright Creator") {
        var scroll_id_View = document.getElementById("education_1");
        scroll_id_View.scrollIntoView();
      } else if (items === "Kid Bright Training by Davinci") {
        var scroll_id_View = document.getElementById("education_2");
        scroll_id_View.scrollIntoView();
      } else if (items === "Kid Bright kidcamp by Davinci") {
        var scroll_id_View = document.getElementById("education_3");
        scroll_id_View.scrollIntoView();
      } else if (items === "Board Kid Bright") {
        var scroll_id_View = document.getElementById("education_4");
        scroll_id_View.scrollIntoView();
      } else if (items === "Kid Bright kit box") {
        var scroll_id_View = document.getElementById("education_5");
        scroll_id_View.scrollIntoView();
      } else if (items === "Kid Bright Davinci 2.0") {
        var scroll_id_View = document.getElementById("education_6");
        scroll_id_View.scrollIntoView();
      }
    },
    click_seesolution(items) {
      console.log(items);
    },
  },
  
};
</script>

<style>
.hover_color_edu:hover,
.hover_color_edu:active {
  color: #005ce6;
}
html {
  scroll-behavior: smooth;
}
.hover_btn_solution_edu {
  /* height: 250px; */
  overflow: hidden;
  margin: 0 auto;
}
.hover_btn_solution_edu button {
  width: 85%;
  transition: 0.3s all ease-in-out;
}
.hover_btn_solution_edu:hover button {
  transform: scale(1.2);
  background-color: blue;
  color: white;

}
</style>
<style lang="sass" scoped>
#app
  font-family: 'Lato', sans-serif
  font-weight: 300
  margin: 0 auto
  max-width: 800px
  padding-left: 40px
  padding-right: 30px

.main
  margin-bottom: 30px
.thumbnails
  margin: 0 -5px
  width: calc(100% + 10px)

// Basic VueAgile styles
.agile
  &__nav-button
    background: transparent
    border: none
    color: #ccc
    cursor: pointer
    font-size: 24px
    transition-duration: .3s

    .thumbnails &
      position: absolute
      top: 50%
      transform: translateY(-50%)

      &--prev
        left: -45px

      &--next
        right: -45px

    &:hover
      color: #888

  &__dot
    margin: 0 10px

    button
      background-color: #eee
      border: none
      border-radius: 50%
      cursor: pointer
      display: block
      height: 10px
      font-size: 0
      line-height: 0
      margin: 0
      padding: 0
      transition-duration: .3s
      width: 10px

    &--current,
    &:hover
      button
        background-color: #888

// Slides styles	
.slide
  align-items: center
  box-sizing: border-box
  color: #fff
  display: flex
  padding: auto
  height: 100%
  justify-content: center

  &--thumbniail
    cursor: pointer
    height: 100px
    padding: 0 5px
    transition: opacity .3s

    &:hover
      opacity: .75

  img
    height: 100%
    margin-top: 5%
    padding-top: 5%
    object-fit: cover
    object-position: center
    width: 100%
</style>
