<template>
    <div>
        <v-card flat class="pb-5" style="border-radius: 20px"       >
          <v-card-title
            class="display-1 pt-8 pl-10 mb-5 font-weight-black pa-0"
            style=""
          >
            Industrial
          </v-card-title>
          <h3
            class=""
            height="10px"
            style="
              width: 170px;
              height: 7px;
              margin-left: -45px;
              margin-top: -10px;
              background-color: #ff0066;
            "
          ></h3>

          <v-row align="center" justify="center">
              <v-col class="pa-0" cols="6">
          <div id="app">
            <agile
              class="main"
              ref="main"
              :options="options1"
              :as-nav-for="asNavFor1"
            >
              <div
                class="slide"
                v-for="(slide, index) in slides"
                :key="index"
                :class="`slide--${index}`"
              >
                <img :src="slide" />
              </div>
            </agile>
            <agile
              class="thumbnails"
              ref="thumbnails"
              :options="options2"
              :as-nav-for="asNavFor2"
            >
              <div
                class="slide slide--thumbniail"
                v-for="(slide, index) in slides"
                :key="index"
                :class="`slide--${index}`"
                @click="$refs.thumbnails.goTo(index)"
              >
                <img :src="slide" />
              </div>
            </agile>
          </div>
        </v-col>
            <v-col cols="6">
              <v-card-title
                class="display-1 pt-6 pl-5 font-weight-black pa-0"
                style=""
              >
                Solution For Industrial
              </v-card-title>
              <h3
                class="mt-3 mb-10"
                height="10px"
                style="
                  width: 170px;
                  height: 7px;
                  margin-left: -30px;
                  margin-top: -10px;
                  background-color: #ff0066;
                "
              ></h3>
              <v-row
                class="pa-0 pl-4"
                align="left"
                justify="left"
                v-for="items in header_solution"
                :key="items"
              >
                <v-col class="pa-0" cols="10">
                  <v-card-title
                    class="pointer title pl-5 pa-0 hover_color_indus"
                    style=""
                    @click="click_srcolling(items)"
                  >
                    {{ items.title }}
                    <v-icon class="mt-0 ml-5 hover_color_indus"  >mdi-chevron-down</v-icon>
                  </v-card-title>
                  <v-divider class="mx-auto"></v-divider>
                </v-col>
              </v-row>
            </v-col>
          </v-row>


           <v-row
        class="pointer px-8 pb-7 hover_img_solution hover_btn_solution_indus"
        @click="click_seesolution(items)"
        :id="items.id"
        align="center"
        justify="center"
        v-for="items in all_solution"
        :key="items"
      >
        <v-col cols="7" class="pb-2">
          <v-card-title
            class="display-1 pt-10 pl-10 font-weight-black pa-0"
            style=""
          >
            {{ items.title }}
          </v-card-title>
          <h3
            class="mt-2"
            style="
              width: 170px;
              height: 7px;
              margin-left: -30px;
              margin-top: -10px;
              background-color: #ff0066;
            "
          ></h3>
          <v-row class="pa-0 pl-4" align="center" justify="center">
            <v-col class="pa-0" cols="11" align="left">
              <v-card class="pt-2" flat>
                <v-card-title class="title pl-4 pa-0 hover_color_indus" style="">
                  {{ items.header }}
                </v-card-title>
                <v-card-text class="subtitle-1 pt-3 hover_color_indus">
                  {{ items.text }}
                </v-card-text>
              </v-card>

              <v-divider class="mx-auto"></v-divider>

              <v-card class="ml-5" flat>
              
                   <b-button
                  class="mt-3 "
                  style="width: 170px; height: 40px"
                  pill
                  variant="outline-danger"
                  @click="click_seesolution(items)"
                  >Get Solutions
                </b-button>
                
              </v-card>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="5" align="left">
          <img
            class=" mx-auto pb-6"
            max-width="80%"
            width="85%"
            max-height="100%"
            style="position: relative; z-index: 2"
            :src="items.src"
          />
        </v-col>
      </v-row>
                       
           </v-card>
   
    </div>
</template>
<script>

export default {
  components: {
  },
  data() {
    return {
      picture_header:[
        {
          src: require("@/assets/img/Picture_solution/industrial/industrial.png"),
        }
      ],
      header_solution: [
        {
          title: "Smart Farming",
        },
        {
          title: "Smart Automotive",
        },
        {
          title: "Machine Monitoring",
        },
        {
          title: "Environment Monitoring",
        },
      ],
      all_solution: [
        {
           id:"industrial_1",
           title:"Smart Farming",
           header: "Smart Farm | เวลดัน เทคโนโลยี",
           text:"Concept : เป็นการวัดคุณภาพน้ำเพื่อให้เหมาะสมกับการเลี้ยงกุ้ง ซึ่งต้องมีการควบคุมคุณภาพน้ำอย่างละเอียดเพื่อให้ได้ผลผลิตที่มีสุขภาพสมบูรณ์ที่สุด Target : SI ติดตั้งระบบสำหรับสัตว์น้ำ หรือฟาร์มขนาดกลางขึ้นไปสัตว์น้ำกลุ่มเป้าหมาย : กุ้ง/ปลา ดูข้อมูลย้อนหลังและวางแผนการเลี้ยงกุ้งตรวจสอบคุณภาพน้ำได้ทุกที่ ทุกเวลาและสามารถเข้าไปแก้ไขปัญหาได้รวดเร็วมากขึ้นลดต้นทุนค่าไฟ ได้ 33 %",
           src:require("@/assets/img/Picture_solution/industrial/smartfarm.png"),
        },
         {
           id:"industrial_2",
           title: "Smart Automotive",
           header: "Smart Automotive | ATP30",
           text:"หลักสูตรเพิ่มทักษะด้านวิทยาการคำนวณ ที่ให้น้องๆ ได้สนุกสนานไปกับการฝึกเขียน Coding ออกแบบชุดคำสั่งควบคุมการทำงานของบอร์ด Kid Bright ส่งเสริมให้น้องๆ ได้พัฒนาตามแนวทางการเรียนรู้ STEM หลักสูตรอบรม 4 วันเรียนวันเสาร์ที่ 8, 15, 22 และ 29 สิงหาคม 2563 เปิดอบรมวันละ 2 รอบ รอบเช้า : 9:00 น. - 12:00 น.รอบบ่าย : 13:00 น. - 16:00 น.",
           src:require("@/assets/img/Picture_solution/industrial/SmartAutomotive.png"),
        },
         {
           id:"industrial_3",
           title: "Machine Monitoring",
           header: "Machine Monitoring | Profender",
           text:"หลักสูตรเพิ่มทักษะด้านวิทยาการคำนวณ ที่ให้น้องๆ ได้สนุกสนานไปกับการฝึกเขียน Coding ออกแบบชุดคำสั่งควบคุมการทำงานของบอร์ด Kid Bright ส่งเสริมให้น้องๆ ได้พัฒนาตามแนวทางการเรียนรู้ STEM หลักสูตรอบรม 4 วันเรียนวันเสาร์ที่ 8, 15, 22 และ 29 สิงหาคม 2563 เปิดอบรมวันละ 2 รอบ รอบเช้า : 9:00 น. - 12:00 น.รอบบ่าย : 13:00 น. - 16:00 น.",
           src:require("@/assets/img/Picture_solution/industrial/MachineMonitoring.png"),
        },
         {
           id:"industrial_4",
           title: "Environment Monitoring",
           header: "Cold Room | Environment Monitoring | Server Room",
           text:"หลักสูตรเพิ่มทักษะด้านวิทยาการคำนวณ ที่ให้น้องๆ ได้สนุกสนานไปกับการฝึกเขียน Coding ออกแบบชุดคำสั่งควบคุมการทำงานของบอร์ด Kid Bright ส่งเสริมให้น้องๆ ได้พัฒนาตามแนวทางการเรียนรู้ STEM หลักสูตรอบรม 4 วันเรียนวันเสาร์ที่ 8, 15, 22 และ 29 สิงหาคม 2563 เปิดอบรมวันละ 2 รอบ รอบเช้า : 9:00 น. - 12:00 น.รอบบ่าย : 13:00 น. - 16:00 น.",
           src:require("@/assets/img/Picture_solution/industrial/EnvironmentMonitoring.png"),
        },
      ],
      asNavFor1: [],
      asNavFor2: [],
      options1: {
        dots: false,
        fade: true,
        navButtons: false,
      },

      options2: {
        autoplay: true,
        centerMode: true,
        dots: false,
        navButtons: false,
        slidesToShow: 3,
        responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 5,
            },
          },

          {
            breakpoint: 1000,
            settings: {
              navButtons: true,
            },
          },
        ],
      },

      slides: [
        require("@/assets/img/Picture_solution/industrial/smartfarm.png"),
        require("@/assets/img/Picture_solution/industrial/SmartAutomotive.png"),
        require("@/assets/img/Picture_solution/industrial/MachineMonitoring.png"),
        require("@/assets/img/Picture_solution/industrial/EnvironmentMonitoring.png"),
      ],
    };
  },
  methods: {
    click_srcolling(items){
       var items = items.title;

      if (items === "Smart Farming") {
        var scroll_id_View = document.getElementById("industrial_1");
        scroll_id_View.scrollIntoView();
      } else if (items === "Smart Automotive") {
        var scroll_id_View = document.getElementById("industrial_2");
        scroll_id_View.scrollIntoView();
      } else if (items === "Machine Monitoring") {
        var scroll_id_View = document.getElementById("industrial_3");
        scroll_id_View.scrollIntoView();
      } else if (items === "Environment Monitoring") {
        var scroll_id_View = document.getElementById("industrial_4");
        scroll_id_View.scrollIntoView();
      } 
    },
    click_seesolution(items) {
      console.log(items);
      this.$router.push("/Solutions/SmartFarming");
    },
  },
  mounted() {
    this.asNavFor1.push(this.$refs.thumbnails);
    this.asNavFor2.push(this.$refs.main);
  },
};
</script>


<style>
.hover_color_indus:hover,
.hover_color_indus:active {
  color: #ff0066;
}
html {
  scroll-behavior: smooth;
}
.hover_btn_solution_indus {
  /* height: 250px; */
  overflow: hidden;
  margin: 0 auto;
}
.hover_btn_solution_indus button {
  width: 85%;
  transition: 0.3s all ease-in-out;
}
.hover_btn_solution_indus:hover button {
  transform: scale(1.2);
  background-color: #ff0066;
  color: white;

}
</style>
<style lang="sass" scoped>
#app
  font-family: 'Lato', sans-serif
  font-weight: 300
  margin: 0 auto
  max-width: 800px
  padding-left: 40px
  padding-right: 30px

.main
  margin-bottom: 30px
.thumbnails
  margin: 0 -5px
  width: calc(100% + 10px)

// Basic VueAgile styles
.agile
  &__nav-button
    background: transparent
    border: none
    color: #ccc
    cursor: pointer
    font-size: 24px
    transition-duration: .3s

    .thumbnails &
      position: absolute
      top: 50%
      transform: translateY(-50%)

      &--prev
        left: -45px

      &--next
        right: -45px

    &:hover
      color: #888

  &__dot
    margin: 0 10px

    button
      background-color: #eee
      border: none
      border-radius: 50%
      cursor: pointer
      display: block
      height: 10px
      font-size: 0
      line-height: 0
      margin: 0
      padding: 0
      transition-duration: .3s
      width: 10px

    &--current,
    &:hover
      button
        background-color: #888

// Slides styles	
.slide
  align-items: center
  box-sizing: border-box
  color: #fff
  display: flex
  padding: auto
  height: 100%
  justify-content: center

  &--thumbniail
    cursor: pointer
    height: 100px
    padding: 0 5px
    transition: opacity .3s

    &:hover
      opacity: .75

  img
    height: 100%
    margin-top: 5%
    padding-top: 5%
    object-fit: cover
    object-position: center
    width: 100%
</style>
