<template>
  <div style="margin-bottom:5%;">

    <v-parallax
      style="width: 100% !important"
      src="@/assets/img/bg_picture/ss.jpg"
    >
      <v-row
        class="animated fadeIn slow"
        justify="center"
        align="center"
        style="animation-duration: 2s"
      >
        <v-card-title class="display-4 font-weight-black white--text" style="">
          SOLUTION
        </v-card-title>
      </v-row>
    </v-parallax>
    <v-row class="mx-16 mt-10" align="center" justify="center">
      <v-col class="mx-5" cols="10">
        <v-card flat style="border-radius: 20px" class="pb-12">
          <v-card-title
            class="display-1 pt-6 pl-8 mb-5 font-weight-black pa-0"
            style=""
          >
            SOLUTION
          </v-card-title>
          <h3
            class=""
            height="10px"
            style="
              width: 170px;
              height: 7px;
              margin-left: -45px;
              margin-top: -10px;
              background-color: #01b978;
            "
          ></h3>
          <v-row
            class="pointer mt-5 mx-10 hover_icon_solution hover_btn_solution  "
            align="center"
            @click="click_srcolling(items)"
            justify="center"
            v-for="items in list_solutions"
            :key="items"
          >
            <v-col cols="3" align="center">
              <v-icon class="color_gradient" size="140px">{{items.icon}}</v-icon>
            </v-col>
            <v-col class="pa-0" cols="7">
              <v-card-title class="display-1">{{ items.title }}</v-card-title>
              <v-card-text class="subtitle-1">{{ items.text }}</v-card-text>
              <v-divider class="mx-auto" inset></v-divider>
            </v-col>
            <v-col cols="2">
              <b-button
                style="width: 140px; height: 50px;"
                class="zoom"
                pill 
                variant="outline-success"
                
                >{{ items.btn }}
              </b-button>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
 
 <v-row class="mb-3" id="id_industrial"><v-col></v-col></v-row>
       <v-row class="mx-16" align="center" justify="center">
      <v-col class="mx-5" cols="10">
        <Industrial ref="Industrial"></Industrial>
      </v-col>
    </v-row>
 <v-row class="mb-3" id="id_business"><v-col></v-col></v-row>
       <v-row class="mx-16" align="center" justify="center">
      <v-col class="mx-5" cols="10">
        <Business ref="Business"></Business>
      </v-col>
    </v-row>
   <v-row class="mb-3" id="id_education"><v-col></v-col></v-row>
    <v-row class="mx-16" align="center" justify="center">
      <v-col class="mx-5" cols="10">
        <Education ref="Education"></Education>
      </v-col>
    </v-row>    
  </div>
</template>

<script>
import Education from "@/components/Solutions/Education.vue";
import Industrial from "@/components/Solutions/Industrial.vue";
import Business from "@/components/Solutions/Business.vue";

export default {
  components: {
    Education,
    Industrial,
    Business
  },
  data() {
    return {
      slides:[
        {
          src: require("@/assets/img/Picture_solution/education/education.jpg"),
        },
         {
          src: require("@/assets/img/Picture_solution/education/education.jpg"),
        },
         {
          src: require("@/assets/img/Picture_solution/education/education.jpg"),
        },
         {
          src: require("@/assets/img/Picture_solution/education/education.jpg"),
        },
         {
          src: require("@/assets/img/Picture_solution/education/education.jpg"),
        }
      ],
      list_solutions: [
      
        {
          icon: 'mdi-robot-industrial',
          src: require("@/assets/img/Picture_solution/education/education.jpg"),
          title: "Industrial",
          text:
            "The Internet of things (IoT) describes the network of physical objects—“things”—that are embedded with sensors, software, and other technologies for the purpose of connecting and exchanging data with other devices and systems over the Internet.",
          btn: "See Solution",
        },
     
        {
          icon: 'mdi-domain',
          src: require("@/assets/img/Picture_solution/education/education.jpg"),
          title: "Business",
          text:
            "There are a number of serious concerns about dangers in the growth of IoT, especially in the areas of privacy and security, and consequently industry and governmental moves to address these concerns have begun including the development of international standards.",
          btn: "See Solution",
        },
             {
          src: require("@/assets/img/Picture_solution/education/education.jpg"),
          icon: 'mdi-school',
          title: "Education",
          text:
            "Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.",
          btn: "See Solution",
        },
      ],
      
    }
  },
  methods: {
    click_srcolling(items) {

      var items = items.title;
      if (items === "Education") {
        var scroll_id_View = document.getElementById("id_education");
        scroll_id_View.scrollIntoView();
      } else if (items === "Industrial") {
        var scroll_id_View = document.getElementById("id_industrial");
        scroll_id_View.scrollIntoView();
      } else if (items === "Business") {
        var scroll_id_View = document.getElementById("id_business");
        scroll_id_View.scrollIntoView();
      }
    },
  },
 
};
</script>

<style>
.hover_color:hover,
.hover_color:active {
  color: #01b97a;
}
html {
  scroll-behavior: smooth;
}
.hover_btn_solution {
  /* height: 250px; */
  overflow: hidden;
  margin: 0 auto;
}
.hover_btn_solution button {
  width: 85%;
  transition: 0.3s all ease-in-out;
}
.hover_btn_solution:hover button {
  transform: scale(1.2);
  background-color: #01b97a;
  color: white;

}

.color_gradient {
  font-size: 32px;
  color: #9c47fc;
  display: block;
  background: -webkit-linear-gradient(#00b09b, #96c93d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
