<template>
  <div class="text-left">
    <v-dialog
      class=""
      v-model="dialog_forget"
      max-width="450px"
      content-class="round"
    >
      <v-card class="py-4">
        <v-row class="ma-0  mx-4" align="top" justify="center">
          <v-spacer></v-spacer>
          <v-btn icon class=" float-right" @click="close">
            <v-icon color="">mdi-window-close</v-icon>
          </v-btn>
        </v-row>
        <v-row align="center" justify="center" class="ma-0 pa-0 px-5">
          <v-col cols="12" class="pa-0" style=" ">
            <v-form>
              <v-container class="">
                <v-row class="pb-3" align="center" justify="left">
                  <v-card flat class="">
                    <v-card-title class="p display-1 py-0">
                      Forget password
                    </v-card-title>
                    <v-card-title class=" subtitle-2 py-2">
                      Please enter your email.You will receice a link to create
                      a new password via email.
                    </v-card-title>
                  </v-card>
                </v-row>
                <v-text-field
                  v-model="email"
                  :rules="[rules.required, rules.emailinvalid]"
                  rounded
                  filled
                  dense
                  label="E-mail"
                  class=""
                  required
                  type=""
                  color="black"
                ></v-text-field>
                <v-card-actions class="pa-0">
                  <v-row class="px-4">
                    <v-spacer></v-spacer>
                    <v-btn
                      class="pa-0 float-right black round"
                      style="background-image: linear-gradient(to bottom right, #000000 , #434343);"
                      height="50px"
                      type="submit"
                      width="120px"
                      text
                      dark
                      outlined
                      >SUBMIT</v-btn
                    >

                    <!-- <v-col cols="12">
                  <v-row justify="center"> -->
                    <!-- <div style="color:#464646;" class="text-center">
                      คุณมีบัญชีอยู่แล้วใช่หรือไม่?
                      <a
                        @click="$router.push('/register');
                        dialog=false"
                        style="color:#6aa7e0;"
                      >ลงทะเบียน</a>
                    </div>-->
                    <!-- </v-row>
                </v-col> -->
                  </v-row>
                  <!-- <v-btn
                    color="#4AA399"
                    class="pa-0"
                    text
                    style="text-decoration: underline;"
              >ลงทะเบียน</v-btn>-->
                </v-card-actions>
              </v-container>
            </v-form>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      dialog_forget: false,
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
        emailinvalid: (v) => /.+@.+/.test(v) || "E-mail must be valid",
      },
    };
  },
  methods: {
    close() {
      this.dialog_forget = false;
    },
    openDialogForgetPassword() {
      // console.log(this.$session.getAll());
      this.dialog_forget = true;
    },
  },
};
</script>
