<template>
  <div class="text-left">
    <v-dialog
      class=""
      persistent
      v-model="dialog_register"
      max-width="700px"
      content-class="round"
    >
      <v-card class="">
        <v-row align="center" justify="center" class="ma-0 pa-0">
          <v-col cols="5" align="center" class="">
            <v-card
              flat
              class="mt-8 d-flex align-center justify-center"
              height="500px"
            >
              <v-img
                class=""
                max-width="80%"
                max-height="100%"
                src="../assets/img/Logo/GIANT.png"
              ></v-img>
            </v-card>
            <v-card flat class="">
              <v-btn icon class="float-left" @click="close()">
                <v-icon color="">mdi-arrow-left</v-icon>
              </v-btn>
            </v-card>
          </v-col>
          <v-divider vertical class="my-5 mx-3"></v-divider>
          <v-col cols="6" class="mb-5" style=" ">
            <v-form>
              <v-container class=" ">
                <v-row align="center" justify="center">
                  <v-card-title class="display-1  pa-0 py-2">
                    REGISTER
                  </v-card-title>
                </v-row>
                <v-row align="center" justify="center">
                  <v-card-title class="subtitle-2 pa-0 pb-6">
                    IT'S COMPLETELY FREE
                  </v-card-title>
                </v-row>
                <v-text-field
                  v-model="name"
                  :rules="[() => !!name || 'Required']"
                  rounded
                  filled
                  dense
                  label="Full name"
                  class=""
                  type="text"
                  color="black"
                ></v-text-field>
                <v-text-field
                  v-model="username"
                  :rules="[() => !!name || 'Required']"
                  rounded
                  filled
                  dense
                  label="Username"
                  class=""
                  type="text"
                  color="black"
                ></v-text-field>
                <v-text-field
                  v-model="email"
                  :rules="[rules.required, rules.emailinvalid]"
                  rounded
                  filled
                  dense
                  label="E-mail"
                  class=""
                  required
                  type=""
                  color="black"
                ></v-text-field>
                <v-text-field
                  v-model="password"
                  :rules="[rules.required, rules.min]"
                  rounded
                  filled
                  dense
                  label="Password"
                  class=""
                  type="password"
                  color="black"
                ></v-text-field>
                <v-text-field
                  v-model="password"
                  :rules="[rules.required, rules.min]"
                  rounded
                  filled
                  dense
                  label="Comfirm password"
                  class=""
                  type="password"
                  color="black"
                ></v-text-field>
                <!-- 
                <v-row class=" ma-0">
                  <v-col cols="6">
                    <a
                      class="ma-0 pa-0 "
                      type="submit"
                      style="text-decoration: underline; color:#0D47A1; font-size: small;"
                      @click="openDialogRegister()"
                      text
                      outlined
                      >Register Now</a
                    ></v-col
                  >
                  <v-col cols="6">
                    <a
                      class="ma-0 pa-0 float-right"
                      type="submit"
                      style="text-decoration: underline; color:#0D47A1; font-size: small;"
                      @click="openDialogForgetPassword()"
                      text
                      outlined
                      >Forget Password ?</a
                    ></v-col
                  >
                </v-row> -->
                <v-card-actions class="pa-0">
                  <v-row>
                    <v-col cols="12" class="  pa-0 px-4">
                      <v-spacer></v-spacer>
                      <v-btn
                        class="pa-0 float-right black round"
                        style="background-image: linear-gradient(to bottom right, #000000 , #434343);"
                        block
                        height="50px"
                        type="submit"
                        text
                        dark
                        outlined
                        >SUBMIT</v-btn
                      >
                    </v-col>

                    <!-- <v-col cols="12">
                  <v-row justify="center"> -->
                    <!-- <div style="color:#464646;" class="text-center">
                      คุณมีบัญชีอยู่แล้วใช่หรือไม่?
                      <a
                        @click="$router.push('/register');
                        dialog=false"
                        style="color:#6aa7e0;"
                      >ลงทะเบียน</a>
                    </div>-->
                    <!-- </v-row>
                </v-col> -->
                  </v-row>
                  <!-- <v-btn
                    color="#4AA399"
                    class="pa-0"
                    text
                    style="text-decoration: underline;"
              >ลงทะเบียน</v-btn>-->
                </v-card-actions>
              </v-container>
            </v-form>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <!-- <DialogLogin ref="dialog_login"></DialogLogin> -->
  </div>
</template>

<script>
// import DialogLogin from "./DialogLogin.vue";

// import DialogForgetPassword from "../components/DialogForgetPassword";
export default {
  components: {
    // DialogLogin,
    // DialogForgetPassword,
  },
  data() {
    return {
      // emailRules: [
      //   (v) => !!v || "E-mail is required",
      //   (v) => /.+@.+/.test(v) || "E-mail must be valid",
      // ],
      password: "",

      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
        emailinvalid: (v) => /.+@.+/.test(v) || "E-mail must be valid",
      },
      dialog_register: false,
    };
  },

  methods: {
    openDialogLogin() {
      
    },
    close() {
      this.dialog_register = false;
      // this.$refs.dialog_login.openlogin();
      },

    openDialogRegister() {
      // console.log(this.$session.getAll());
     this.dialog_register = true; 
      
    },
  },
};
</script>
