<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      max-width="450px"
      persistent
      content-class="round"
    >
      <v-card style="">
        <v-row class="ma-0" align="center" justify="center">
          <v-spacer></v-spacer>
          <v-btn icon class="mt-3 mr-4 float-right" @click="close">
            <v-icon color="">mdi-window-close</v-icon>
          </v-btn>
        </v-row>
        <v-row class="ma-0 pa-0 " align="center" justify="center">
          <v-col cols="12" align="center" class="pa-5">
            <v-img
              class=""
              max-width="40%"
              max-height="80%"
              src="../assets/img/Logo/GIANT.png"
            ></v-img>
          </v-col>
        </v-row>
        <v-row class="mx-12 mt-1 mb-3">
          <v-divider class="" light></v-divider>
        </v-row>
        <v-form ref="loginform" @submit.prevent="logIn()">
          <v-container class=" px-13 pa-0 ma-0">
            <v-text-field
              v-model="username"
              :rules="[() => !!username || 'Username is Required']"
              rounded
              filled
              dense
              label="Username"
              class=""
              type="text"
              color="black"
            ></v-text-field>
            <v-text-field
              v-model="password"
              rounded
              filled
              dense
              :rules="[rules.required, rules.min]"
              label="password"
              class=""
              type="password"
              color="black"
            ></v-text-field>
            <v-row class="mx-5 ma-0">
              <v-col cols="6">
                <a
                  class="ma-0 pa-0 "
                  type="submit"
                  style="text-decoration: underline; color:#0D47A1; font-size: small;"
                  @click="openDialogRegister()"
                  text
                  outlined
                  >Register Now</a
                ></v-col
              >
              <v-col cols="6">
                <a
                  class="ma-0 pa-0 float-right"
                  type="submit"
                  style="text-decoration: underline; color:#0D47A1; font-size: small;"
                  @click="openDialogForgetPassword()"
                  text
                  outlined
                  >Forget Password ?</a
                ></v-col
              >
            </v-row>
            <v-card-actions class="pa-0">
              <v-row>
                <v-col cols="12" class=" mb-8 pa-0 px-4">
                  <v-spacer></v-spacer>
                  <v-btn
                    class="pa-0 float-right black round"
                    style="background-image: linear-gradient(to bottom right, #000000 , #434343);"
                    block
                    @click="checkBeforeAPI()"
                    type="submit"
                    text
                    dark
                    height="50px"
                    outlined
                    >LOGIN</v-btn
                  >
                </v-col>
              </v-row>
            </v-card-actions>
          </v-container>
        </v-form>
      </v-card>
    </v-dialog>
    <DialogForgetPassword ref="openDialogForgetPassword"></DialogForgetPassword>
    <DialogRegister ref="DialogRegister"></DialogRegister>
  </div>
</template>
<script>
import DialogForgetPassword from "../components/DialogForgetPassword";
import DialogRegister from "../components/DialogRegister";
export default {
  components: {
    DialogForgetPassword,
    DialogRegister,
  },
  data() {
    return {
      dialog: false,
      username: "",
      password: "",

      rule_password: [(v) => !!v || "Password is required"],
      rule_username: [(v) => !!v || "Username is required"],
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
      },
    };
  },
  watch: {
    name() {
      this.errorMessages = "";
    },
  },
  created(){
  },
  methods: {
    openDialogRegister() {
      // clearTimeout()
      // this.dialog = false;
      this.$refs.DialogRegister.openDialogRegister();
      // setTimeout(() => {
      //   this.dialog = false;
      // }, 200);
    },
    openDialogForgetPassword() {
      this.dialog = false;
      this.$refs.openDialogForgetPassword.openDialogForgetPassword();
    },
    openlogin() {
      // console.log(this.$session.getAll());
      this.dialog = true;
    },
    close() {
      this.dialog = false;
    },
    checkBeforeAPI() {
      if (this.username === "" || this.password === "") {
        this.$swal({
          icon: "error",
          title: "Error",
          text: "Please check your username and password!",
        });
      } else {
        this.loginAPI();
      }
    },
    loginAPI() {
      this.axios
        .post(this.$store.state.axios_API_URL + "/api/v1/login", {
          username: this.username,
          password: this.password,
        })
        .then((response) => {
          var result = response;
          // console.log(result.data);
          if (result.data === "login success") {
            this.SAVE_USER_LOGIN();
            this.$message.success('This is a success message');
            location.reload();

          }
          else{
            this.$swal({
              icon: 'error',
              title: 'Error',
              text: 'Please check your username and password!!',
            })
          }
        });
    },
    SAVE_USER_LOGIN() {
      var USER_LOGIN = this.username;
      window.localStorage.setItem("USER_LOGIN", JSON.stringify(USER_LOGIN));
    },

  },
};
</script>
