<template>
  <div>
    <v-parallax src="@/assets/img/bg_picture/background_home2.jpg">
      <v-row
        class="animated fadeInUpBig slow mb-16"
        justify="center"
        align="center"
      >
        <v-card-title class="display-4 font-weight-black" style="">
          NEWS
        </v-card-title>
      </v-row>
    </v-parallax>
    <v-row class="" align="center" justify="center">
      <v-col cols="12" class="pa-0">
        <v-tabs
          class=""
          v-model="tab"
          background-color="white"
          color="red darken-4"
          height="80"
          grow
        >
          <v-tab v-for="item in items" :key="item" style="font-size: large">
            {{ item.name }}
          </v-tab>
          <v-tab-item v-for="n in news" :key="n">
            <v-row class="px-16" style="margin-left:11%;">
              <v-col class="pa-0 mt-12 mx-5" cols="3" v-for="i in n" :key="i" >
                <v-hover
        v-slot="{ hover }"
        close-delay="50"
      >
                <v-card
                  :loading="loading"
                  :elevation="hover ? 16 : 2"
                  class="mx-0 geeks"
                  height="510"
                  color="white"
                  style="border-radius: 10px"
                  @click="openNEWs()"
                >
                  <v-card flat class="pa-2">
                    <img height="180px" :src="i.src" />
                  </v-card>
      
                    <v-row class="pa-0 px-5 mt-6" align="left" justify="left">
                      <v-col class="pa-0 ml-5 ex1" cols="3" justify="left">
                     
                        <v-icon class="">mdi-account</v-icon>
                         <span class="mx-1 ex1 caption">News</span>
                      </v-col>
                      <v-col
                        class="pa-0 ml-2"
                        cols="5"
                        justify="left"
                      >
                        <v-icon>mdi-calendar-month</v-icon>
                        <span class="mx-1 ex1 caption">20 พ.ย 2563</span>
                      </v-col>
                    </v-row>
             

                  <v-card-title
                    class=" font-weight-bold mx-2 "
                    style="font-size: medium; color: #d50000"
                    
                  >
                    {{ i.title }}
                  </v-card-title>
                  <v-card-subtitle
                    class="black--text font-weight-light mx-2 pt-3"
                    style="height: 120px"
                  >
                    {{ i.text }}
                  </v-card-subtitle>
                </v-card>
                </v-hover>
              </v-col>
            </v-row>
            <div class="text-center mt-12 pb-10">
              <v-pagination
                v-model="page"
                :length="15"
                :total-visible="7"
              ></v-pagination>
            </div>
          </v-tab-item>
        </v-tabs>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      news: [
        ///index 0 is Featured
        [
          {
            src: require("@/assets/img/Picture_News/news_bus_2.jpg"),
                        title: "เปิดตัวบอร์ดจิ๋วแต่แจ๋ว NX2005 รองรับ GROVE Connector",
            text:
              "NEXPIE ได้ทำการเปิดตัวบอร์ดไมโครคอนโทรลเลอร์ รุ่นล่าสุด NX2005 ที่มีจุดเด่นอยู่ที่ขนาดเล็กกะทัดรัด สามารถใช้งานกับเบรดบอร์ดขนาดเล็กได้ และมี Connector ของ GROVEติดตั้งมาบนบอร์ดอีกด้วย",
          },
          {
            src: require("@/assets/img/Picture_News/news_bus_1.jpg"),
            title: "INET เปิดตัวหลักสูตรอบรม Kid Bright Creator",
            text:
              "บริษัท แมนดาลา คอมมูนิเคชั่น จำกัด บริษัทในเครือ บริษัท อินเทอร์เน็ตประเทศไทย จำกัด (มหาชน) หรือ INET เปิดตัวหลักสูตรอบรม Kid Bright Creator ที่พัฒนามาจากโครงการวิจัยบอร์ดสมองกลเพื่อการเรียนรู้และการเขียนโปรแกรม Kid Bright ของสำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.)  ",
          },
          {
            src: require("@/assets/img/Picture_News/news_IT_1.jpg"),
            title: "เปิดตัวบอร์ดจิ๋วแต่แจ๋ว NX2005 รองรับ GROVE Connector",
            text:
              "NEXPIE ได้ทำการเปิดตัวบอร์ดไมโครคอนโทรลเลอร์ รุ่นล่าสุด NX2005 ที่มีจุดเด่นอยู่ที่ขนาดเล็กกะทัดรัด สามารถใช้งานกับเบรดบอร์ดขนาดเล็กได้ และมี Connector ของ GROVEติดตั้งมาบนบอร์ดอีกด้วย",
          },
          {
            src: require("@/assets/img/Picture_News/news_bus_1.jpg"),
            title: "INET เปิดตัวหลักสูตรอบรม Kid Bright Creator",
            text:
              "บริษัท แมนดาลา คอมมูนิเคชั่น จำกัด บริษัทในเครือ บริษัท อินเทอร์เน็ตประเทศไทย จำกัด (มหาชน) หรือ INET เปิดตัวหลักสูตรอบรม Kid Bright Creator ที่พัฒนามาจากโครงการวิจัยบอร์ดสมองกลเพื่อการเรียนรู้และการเขียนโปรแกรม Kid Bright ของสำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.)",
          },
          {
            src: require("@/assets/img/Picture_News/news_bus_1.jpg"),
            title: "INET เปิดตัวหลักสูตรอบรม Kid Bright Creator",
            text:
              "บริษัท แมนดาลา คอมมูนิเคชั่น จำกัด บริษัทในเครือ บริษัท อินเทอร์เน็ตประเทศไทย จำกัด (มหาชน) หรือ INET เปิดตัวหลักสูตรอบรม Kid Bright Creator ที่พัฒนามาจากโครงการวิจัยบอร์ดสมองกลเพื่อการเรียนรู้และการเขียนโปรแกรม Kid Bright ของสำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.) ",
          },
          {
            src: require("@/assets/img/Picture_News/news_bus_1.jpg"),
            title: "INET เปิดตัวหลักสูตรอบรม Kid Bright Creator",
            text:
              "บริษัท แมนดาลา คอมมูนิเคชั่น จำกัด บริษัทในเครือ บริษัท อินเทอร์เน็ตประเทศไทย จำกัด (มหาชน) หรือ INET เปิดตัวหลักสูตรอบรม Kid Bright Creator ที่พัฒนามาจากโครงการวิจัยบอร์ดสมองกลเพื่อการเรียนรู้และการเขียนโปรแกรม Kid Bright ของสำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.)",
          },
        ],
        ///index 1 is Technology
        [
          {
            src: require("@/assets/img/Picture_News/news_IT_1.jpg"),
            title: "เปิดตัวบอร์ดจิ๋วแต่แจ๋ว NX2005 รองรับ GROVE Connector",
            text:
              "NEXPIE ได้ทำการเปิดตัวบอร์ดไมโครคอนโทรลเลอร์ รุ่นล่าสุด NX2005 ที่มีจุดเด่นอยู่ที่ขนาดเล็กกะทัดรัด สามารถใช้งานกับเบรดบอร์ดขนาดเล็กได้ และมี Connector ของ GROVEติดตั้งมาบนบอร์ดอีกด้วย",
          },
          {
            src: require("@/assets/img/Picture_News/news_IT_2.jpg"),
            title: "NETPIE 2020 ",
            text:
              "NETPIE 2020 คือแพลตฟอร์มที่ถูกพัฒนาขึ้นเพื่อตอบสนองผู้ใช้งานเชิงพาณิชย์ เช่น ผู้ผลิตอุปกรณ์ IoT, อุตสาหกรรม, โรงงาน และองค์กรที่พัฒนาสู่ยุค Digital Transformation 4.0 ซึ่งจะช่วยธุรกิจให้มีประสิทธิภาพยิ่งขึ้น ด้วยเทคโนโลยีการเชื่อมต่อทุกสรรพสิ่ง หรือ Internet of Things (IoT)",
            // https://docs.netpie.io/overview-netpie.html
          },
        ],
        ///index 2 is Business
        [
          {
            src: require("@/assets/img/Picture_News/news_bus_2.jpg"),
            title:
              "สอนใช้งาน NodeMCU ESP8266 เริ่มต้นติดตั้ง NodeMCU ESP8266 ลงบน Arduino IDE",
            text:
              " ในการสื่อเรียนรู้นี้ เราเลือกใช้โปรแกรม Sketch ของ Arduino (Arduino IDE) ในการเขียนโปรแกรมควบคุมการทำงานของบอร์ด NodeMCU/ESP8266 (ซึ่งในบางครั้ง อาจเรียกบอร์ดลักษณะนี้ว่า WiFi controller) ",
          },
          {
            src: require("@/assets/img/Picture_News/news_bus_1.jpg"),
            title: "INET เปิดตัวหลักสูตรอบรม Kid Bright Creator",
            text:
              "บริษัท แมนดาลา คอมมูนิเคชั่น จำกัด บริษัทในเครือ บริษัท อินเทอร์เน็ตประเทศไทย จำกัด (มหาชน) หรือ INET เปิดตัวหลักสูตรอบรม Kid Bright Creator ที่พัฒนามาจากโครงการวิจัยบอร์ดสมองกลเพื่อการเรียนรู้และการเขียนโปรแกรม Kid Bright ของสำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.)  ",
          },
        ],
        ///index 3 is lifestyle"
        [
          {
            src: require("@/assets/img/Picture_News/news_life_1.jpg"),
            title:
              "วิดีโอการนำเสนอผลงาน 19 ทีมสุดท้าย ผ่านเข้ารอบชิงชนะเลิศโครงการ KidBright ต้าน Covid-19",
            text:
              "วิดีโอการนำเสนอผลงาน 19 ผลงานสุดท้ายผ่านเข้ารอบชิงชนะเลิศการประกวดโครงงานสิ่งประดิษฐ์ด้วยบอร์ด KidBright ภายใต้โจทย์การแข่งขัน “KidBright ต้านโรคโควิค 19 (KB-COVID 19)”",
          },
        ],
      ],
      tab: null,
      items: [
        { name: "Featured" },
        { name: "Technology" },
        { name: "Business" },
        { name: "lifestyle" },
      ],
    };
  },
  methods: {
    myitems(index_tab) {
      console.log(index_tab);
      if (index_tab === "Announcement") {
        this.announcement_tab_index = 1;
        this.product_News = 0;
      } else if (index_tab === "Product News") {
        this.product_News = 1;
        this.announcement_tab_index = 0;
      }
    },
    openNEWs() {
      this.$router.push("/News");
    },
  },
};
</script>

<style>
 .ex1:hover, 
 .ex1:active {color: blue;}

</style>
